{% extends 'base.html.twig' %}

{% block title %}Anmeldung ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Anmeldung', 'subtitle': event.title} %}
        {% block breadcrumb %}
            <li><a href="{{ path('public_participations') }}">Anmeldungen</a></li>
            <li class="active">Anmeldung bei {{ event.title }}</li>
        {% endblock %}
    {% endembed %}
    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabel">
        <div class="modal-dialog" role="document">
            {{ form_start(form) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="dialogModalLabel"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container participation-panels">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-10">
                                <h3 class="panel-title">Anmeldung</h3>
                            </div>
                            <div class="col-xs-2 text-right">
                                <a href="{{ path('public_edit_participation', {'pid': participation.pid}) }}"
                                   class="btn btn-default btn-xs" title="Anmeldungsdaten bearbeiten"data-toggle="tooltip">{{ 'pencil'|glyph }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Anrede</dt>
                            <dd>{{ participation.salution }}</dd>
                            <dt>Vorname</dt>
                            <dd>{{ participation.nameFirst }}</dd>
                            <dt>Nachname</dt>
                            <dd>{{ participation.nameLast }}</dd>
                            <dt>Anschrift</dt>
                            <dd class="address-container">
                                <address>
                                    <strong>{{ participation.getName() }}</strong><br>
                                    {{ participation.addressStreet }}<br>
                                    {{ participation.addressZip }} {{ participation.addressCity }}
                                </address>
                            </dd>
                            <dt>E-Mail Adresse</dt>
                            <dd>
                                <address>
                                    {{ participation.email }}
                                </address>
                            </dd>
                            {% for fillout in participation.acquisitionAttributeFillouts %}
                                {% if fillout.attribute.public %}
                                    <dt title="{{ fillout.attribute.formDescription }}" data-toggle="tooltip"
                                        data-placement="right">{{ fillout.attribute.formTitle }}</dt>
                                    <dd>{{ fillout }}</dd>
                                {% endif %}
                            {% endfor %}
                            <dt title="Eingang der Anmeldung" data-toggle="tooltip" data-placement="right">Eingang</dt>
                            <dd>{{ participation.createdAt|date("d.m.Y H:i") }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-10">
                                <h3 class="panel-title">Telefonnummern</h3>
                            </div>
                            <div class="col-xs-2 text-right">
                                <a href="{{ path('public_edit_phonenumbers', {'pid': participation.pid}) }}"
                                   class="btn btn-default btn-xs" title="Telefonnummern bearbeiten" data-toggle="tooltip">{{ 'pencil'|glyph }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            {% for phoneNumber in participation.phoneNumbers %}
                                <dt>{{ phoneNumber.number|phone_number_format('INTERNATIONAL') }}</dt>
                                <dd>
                                    {{ phoneNumber.description }}
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for participant in participation.participants %}
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9">
                                    <h3 class="panel-title">Teilnehmer {{ participant.nameFirst }}</h3>
                                </div>
                                <div class="col-xs-3 text-right">
                                <a href="{{ path('public_add_participant', {'pid': participation.pid}) }}"
                                   class="btn btn-default btn-xs" title="Neuen Teilnehmer hinzufügen" data-toggle="tooltip">{{ 'plus'|glyph }}</a>
                                <a href="{{ path('public_edit_participant', {'pid': participation.pid, 'aid': participant.aid}) }}"
                                   class="btn btn-default btn-xs" title="Teilnehmer {{ participant.nameFirst }} bearbeiten" data-toggle="tooltip">{{ 'pencil'|glyph }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row" id="participant-{{ loop.index }}">
                                <div class="col-xs-12">
                                    <dl class="dl-horizontal">
                                        <dt>Vorname</dt>
                                        <dd>{{ participant.nameFirst }}</dd>
                                        <dt>Nachname</dt>
                                        <dd>{{ participant.nameLast }}</dd>
                                        <dt>Geschlecht</dt>
                                        <dd>{{ participant.getGender(true) }}</dd>
                                        <dt>Geburtsdatum</dt>
                                        <dd>{{ participant.getBirthday|date("d.m.Y") }}</dd>
                                        <dd>
                                            {% set participantFood = participant.getFood(true) %}
                                            {% if participantFood.getValue() %}
                                                {{ ' '|bitmask(participantFood) }}
                                            {% else %}
                                                <i>(keine Besonderheiten)</i>
                                            {% endif %}
                                        </dd>
                                        <dt>Medizinische Hinweise</dt>
                                        <dd>
                                            {% if participant.infoMedical %}
                                                {{ participant.infoMedical }}
                                            {% else %}
                                                <i>(keine Besonderheiten)</i>
                                            {% endif %}
                                        </dd>
                                        <dd>
                                        <dt>Allgemeine Hinweise</dt>
                                        <dd>
                                            {% if participant.infoGeneral %}
                                                {{ participant.infoGeneral }}
                                            {% else %}
                                                <i>(keine Besonderheiten)</i>
                                            {% endif %}
                                        </dd>
                                        {% for fillout in participant.acquisitionAttributeFillouts %}
                                            {% if fillout.attribute.public %}
                                                <dt title="{{ fillout.attribute.formDescription }}" data-toggle="tooltip"
                                                    data-placement="right">{{ fillout.attribute.formTitle }}</dt>
                                                <dd>{{ fillout }}</dd>
                                            {% endif %}
                                        {% endfor %}
                                    </dl>
                                </div>
                            </div>
                            <div class="col-xs-12 status-label-list">
                                {{ ' '|bitmask(participant.getStatus(true), statusFormatter) }}
                            </div>
                        </div>
                        <div class="panel-footer">
                            {% if participant.withdrawn %}
                                Teilnehmer zurückgezogen
                            {% else %}
                                <button type="button" class="btn btn-default" data-action="withdraw"
                                        data-confirmed="{{ participant.confirmed }}"
                                        data-toggle="modal" data-target="#dialogModal" data-aid="{{ participant.aid }}"
                                        data-value="{{ participant.withdrawRequested }}">
                                    {% if participant.withdrawRequested %}
                                        {{ 'retweet'|glyph }} Anfrage für Zurücknahme entfernen
                                    {% else %}
                                        {{ 'share-alt'|glyph }} Teilnehmer zurückziehen
                                    {% endif %}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascriptCustom %}
    {% cspscript %}
    <script type='text/javascript'>
        jQuery(document).ready(function () {
            $('#dialogModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget),
                        action = button.data('action'),
                        aid = button.data('aid'),
                        confirmed = button.data('confirmed'),
                        value = button.data('value'),
                        modal = $(this),
                        title,
                        question,
                        buttonText = 'Bestätigen';

                switch (action) {
                    case 'withdraw':
                        if (value) {
                            title = 'Anmeldung des Teilnehmers nicht mehr zurückziehen';
                            buttonText = 'Anmeldung nicht mehr zurückziehen';
                            question = '<p>Sie haben die Rücknahme dieser Anmeldung angefragt.</p><p>Falls dies versehentlich geschehen ist, oder die Gründe für die Rücknahme nicht mehr vorliegen, können sie diesen Vorgang abbrechen. Sofern die Anmeldung in der Zwischenzeit nicht von uns zurückgenommen wurde, ist sie wieder gültig. Bei Problemen kontaktieren nehmen Sie bitte Kontakt zum Jugendwerk auf.</p>';
                        } else {
                            title = 'Anmeldung des Teilnehmers zurückziehen';
                            buttonText = 'Anmeldung zurückziehen';
                            question = '<p>Sie können hier die Rücknahme der Anmeldung anfragen. Tun Sie das, wenn ihr Kind doch nicht mehr bei der Veranstaltung teilnehmen kann oder nicht mehr teilnehmen möchte.</p>';
                            if (confirmed) {
                                question += '<p>In den meisten Fällen ist das kein Problem. Manchmal ist dies allerdings nicht ohne weiteres möglich, da beispielsweise bereits Zahlungen getätigt wurden. Dann melden wir uns bei Ihnen.</p>';
                            } else {
                                question += '<p>Da diese Anmeldung noch nicht von uns bestätigt wurde, sollte das kein Problem darstellen und sie kann sofort zurückgenommen werden.</p>';
                            }
                        }
                        break;
                }
                modal.find('.modal-title').text(title);
                modal.find('.modal-body').html(question);
                modal.find('input[name="form[action]"]').val(action);
                if (aid) {
                    modal.find('input[name="form[aid]"]').val(aid);
                }
                if (value) {
                    modal.find('input[name="form[value]"]').val(value);
                }
                modal.find('input[type="submit"]').val(buttonText);

            });
        });
    </script>
    {% endcspscript %}
{% endblock %}