{% extends 'base.html.twig' %}

{% block title %}Newsletter verwalten{% endblock %}

{% block body %}
  {% embed 'common/header/base-page-header.html.twig' with {'title': 'Newsletter', 'subtitle': 'Nachrichten verwalten'} %}
    {% block breadcrumb %}
      <li class="active"><a href="{{ path('newsletter_admin_overview') }}">Newsletter</a></li>
      <li class="active">Nachrichten verwalten</li>
    {% endblock %}
  {% endembed %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="bootstrap-table-toolbar" class="form-inline">
          <div class="form-group">
            <a class="btn btn-primary" href="{{ path('newsletter_admin_create') }}">{{ 'plus'|glyph }} Neu</a>
          </div>
        </div>
        <table id="newsletterNewsletterTable" class="table table-striped table-remote-content"
               data-id-field="rid" data-toggle="table" data-cache="false" data-pagination="true"
               data-side-pagination="client" data-show-refresh="true" data-show-columns="true"
               data-search-align="right" data-toolbar="#bootstrap-table-toolbar" data-striped="true"
               data-show-filter="true" data-search="true" data-page-size="25"
               data-url="{{ path('newsletter_admin_newsletter_list_data') }}">
          <thead>
          <tr>
            <th data-field="lid" data-sortable="true" data-visible="false">#</th>
            <th data-field="sentAt" data-sortable="true">Status</th>
            <th data-field="subject" data-sortable="true" data-order="asc">Betreff</th>
            <th data-field="title" data-sortable="true">Titel</th>
            <th data-field="ageRangeBegin" data-sortable="true" data-visible="false">Von Alter</th>
            <th data-field="ageRangeEnd" data-sortable="true" data-visible="false">Bis Alter</th>
            <th data-field="ageRange" data-sortable="false">Altersspanne</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
