/app/config/parameters.yml
/bin/
/build/
/composer.phar
/vendor/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/legacy/*
.idea
/node_modules/*
/.sass-cache
/web/css/*
!web/css/.gitkeep
/web/font/*
!web/font/.gitkeep
/web/js/*
!web/js/.gitkeep
/web/uploads/*
!web/uploads/.gitkeep