/app/web/mstile*.png
/app/web/favicon*
/app/web/android-chrome-*
/app/web/apple-touch-icon*
/app/web/browserconfig.xml
/app/web/manifest.json
/app/web/safari-pinned-tab.svg
/app/config/parameters.yml
/app/config/branding.scss
/app/config/imprint-content.html.twig
/app/config/conditions-of-travel-content.html.twig
/app/config/conditions-of-travel-scrollspy.html.twig
/app/config/conditions-corona-content.html.twig
/app/config/conditions-corona-scrollspy.html.twig
/bin/
/build/
/composer.phar
/app/composer.phar
/app/vendor/
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/legacy/*
.idea
/node_modules/*
/.sass-cache
/app/web/css/*
!web/css/.gitkeep
!web/css/.htaccess
/app/web/font/*
!web/font/.gitkeep
!web/font/.htaccess
/app/web/js/*
!web/js/.gitkeep
!web/js/.htaccess
/data/invoice/*
!/data/invoice/.gitkeep
/var/uploads/*
!/var/uploads/.gitkeep
/tmp/*
!/tmp/.gitkeep
.DS_Store
/backup/
/phpunit.xml
.phpunit.result.cache
