{% extends 'base.html.twig' %}

{% block title %}Feld ({{ acquisition.managementTitle }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Feld', 'subtitle': 'Detailansicht'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('acquisition_list') }}">Felder</a></li>
            <li class="active">{{ acquisition.managementTitle }}</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabel">
            <div class="modal-dialog" role="document">
                {{ form_start(form) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="dialogModalLabel">
                            {% if acquisition.deletedAt %}
                                Feld aus Papierkorb nehmen
                            {% else %}
                                Feld in Papierkorb verschieben
                            {% endif %}
                        </h4>
                    </div>
                    <div class="modal-body">
                        {% if acquisition.deletedAt %}
                            <p>Soll dieses Feld wirklich aus dem Papierkorb herausgeholt werden?</p>
                        {% else %}
                            <p>Soll dieses Feld wirklich in den Papierkorb verschoben werden?</p>
                            <p>Daten bei bereits erfassten Anmeldungen bleiben erhalten, werden aber nicht mehr
                                angezeigt werden. Das Feld erscheint auch nicht mehr im Anmeldeformular von
                                Veranstaltungen, denen es bereits zugewiesen ist und kann auch keiner Veranstaltung mehr
                                zugewiesen werden.</p>
                        {% endif %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                        <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Daten</h3>
                <hr/>
                <div class="btn-toolbar btn-toolbar-spacer" role="toolbar">
                    <div class="btn-group" role="group">
                        <a href="{{ path('acquisition_edit', {'bid': acquisition.bid }) }}"
                           class="btn btn-primary">{{ 'pencil'|glyph }} <span class="hidden-xs">Bearbeiten</span></a>
                    </div>
                    {% if acquisition.deletedAt %}
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#dialogModal" data-action="restore">
                            {{ 'repeat'|glyph }}<span class="hidden-xs"> aus Papierkorb zurückholen…</span>
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#dialogModal" data-action="delete">
                            {{ 'trash'|glyph }}<span class="hidden-xs"> in Papierkorb verschieben…</span>
                        </button>
                    {% endif %}
                </div>
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Titel</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ acquisition.managementTitle }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Beschreibung</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ acquisition.managementDescription }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Titel (Formular)</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ acquisition.formTitle }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Beschreibung (Formular)</label>

                        <div class="col-sm-8">
                            <p class="form-control-static" style="white-space: pre-line;">{{ acquisition.formDescription }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Typ</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">{{ acquisition.getFieldType(true) }}</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Sichtbarkeit</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.isPublic %}
                                    Daten werden von Eltern eingegeben (Feld wird im Formular aufgeführt)
                                {% else %}
                                    Daten werden nur von Adminstratoren eingegeben
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Je Anmeldung erfassen</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.useAtParticipation %}
                                    ja
                                {% else %}
                                    nein
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Je Teilnehmer erfassen</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.useAtParticipant %}
                                    ja
                                {% else %}
                                    nein
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Pflichtfeld</label>

                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {% if acquisition.isRequired %}
                                    ja
                                {% else %}
                                    nein
                                {% endif %}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Verwendung</h3>
                <hr/>

                <div class="list-group">
                    {% if events|length == 0 %}
                        <div class="list-group-item list-group-item-info">Im Moment wird dieses Feld bei keiner
                            Veranstaltung verwendet.
                        </div>
                    {% endif %}
                    {% for event in events %}
                        <a href="{{ path('event_public_detail', {eid: event.eid}) }}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ event.title }}</h4>

                            <p class="list-group-item-text">{{ event.descriptionMeta(true)|e }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptCustom %}
    {% cspscript %}
    <script type='text/javascript'>
        jQuery(document).ready(function () {
            $('#dialogModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget),
                        action = button.data('action'),
                        modal = $(this);

                modal.find('input[name="form[action]"]').val(action);
            });
        });
    </script>
    {% endcspscript %}
{% endblock %}
