{% extends 'base.html.twig' %}

{% block title %}Feld anlegen{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Feld', 'subtitle': 'erstellen'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('acquisition_list') }}">Felder</a></li>
            <li class="active">Feld erstellen</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        {% include '/acquisition/form.html.twig' with {'form': form, submitTitle: 'Feld anlegen', showChoiceOptions: false} %}
    </div>
{% endblock %}