.flat-progress-bar .progress {
  margin-bottom: 6px;
}

.progress-bar-gender-1 {
  background-color: #559fff;
}

.progress-bar-gender-2 {
  background-color: #ffa1c9;
}

#event_description {
  min-height: 500px;
}

iframe[name=export-generator-frame] {
  display: none;
}

.acquisition-attribute .help-block {
  white-space: pre-line;
}

#event_add_user_assignments_assignUser {
  min-height: 300px;
}

#participantsListTable .payment-cell {
  text-align: right;

  i {
    opacity: 0.2;
  }

}

.acquisition-attribute.field-appbundle-form-participantdetectingtype > div,
.acquisition-attribute.field-appbundle-form-bankaccounttype > div {
  @include make-row();
}

.acquisition-attribute.field-appbundle-form-participantdetectingtype > div > div {
  @include make-sm-column(6);
}

.acquisition-attribute.field-appbundle-form-bankaccounttype > div > div {
  @include make-xs-column(4);
}

.acquisition-attribute > div > div {
  @include make-xs-column(12);
}

#specificAge {
  width: 65px;
}

.table-remote-content .rounded-age {
  display: inline-block;
  min-width: 37px;
  opacity: 0.8;
}

.event-showcase .thumbnail {
  background: white;
}

.related-participants-proposal-list {
  margin-top: 10px;

  > label {
    margin: 0;
  }
}

div.help-block {
  margin: 0 0 10px;
}

div.help-block > p {
  margin: 0 0 5px;
}

table tr td.deleted label {
  text-decoration: line-through;
}

input.input-formula, textarea.input-formula, .btn-formula-variable span, tbody .formula-cell {
  font-family: monospace;
}

input.input-formula, textarea.input-formula {
  margin-bottom: 2px;
}

.btn-formula-variable {
  color: #333;
  margin: 2px 0;
}

#help-form-formula {
  margin-top: 10px;
}


#modalHistory {
  table.loading {
    height: 0px;
  }

  table {
    width: 100%;
    height: 400px;
    table-layout: fixed;

    -webkit-transition: height 0.6s ease-out;
    -moz-transition: height 0.6s ease-out;
    transition: height 0.6s ease-out;

    tr.h td {
      border-top: 1px solid black;
      vertical-align: top;
    }

    tbody tr, tbody td {
      box-sizing: unset;
      height: 2px;
    }

    tfoot tr td {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    td {
      background: lightgray;

      &:first-child {
        background: lighten(lightgray, 10%);
      }

      &:nth-child(2n+3) {
        background: lighten(lightgray, 2%);
      }
    }

    td.f {
      background: $brandPrimaryDark;

      &:nth-child(2n+3) {
        background: lighten($brandPrimaryDark, 2%);
      }
    }

    td.y {
      text-align: right;
      padding-right: 1px;
    }

    tr.x td, td.y {
      background: transparent;
      font-size: smaller;
    }

    tr.x {
      text-align: center;
    }

    tr.x td:first-child, td.y {
      background: lighten($brandPrimaryDark, 60%) !important;
    }

    tr.x.day td {
      background: lighten($brandPrimaryDark, 35%);

      &:nth-child(2n+3) {
        background: lighten($brandPrimaryDark, 40%);
      }
    }

    tr.x.month td {
      background: lighten($brandPrimaryDark, 44%);

      &:nth-child(2n+3) {
        background: lighten($brandPrimaryDark, 51%);
      }
    }

    tr.x.year td {
      background: lighten($brandPrimaryDark, 60%);

      &:nth-child(2n+3) {
        background: lighten($brandPrimaryDark, 55%);
      }
    }

  }
}


.modal-add-entities {
  option {
    padding: 3px 0;

    &.has-groups {
      opacity: 0.75;
    }
  }

  //please note that order of items is important here - since the css rules are overriding each other of there are
  //multiple rules providing :after content in effect, only one is displayed which should be the most important one

  .has-status-1, .has-status-4, .has-status-8, .has-status-16 {
    &:after {
      margin-left: 4px;
      display: inline;
      padding: 0.2em 0.6em 0.3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25em;
    }
  }

  // \AppBundle\BitMask\ParticipantStatus::TYPE_STATUS_CONFIRMED
  .has-status-1 {
    &:after {
      background: $brand-success;
      content: "Best\00e4tigt";
    }
  }

  // \AppBundle\BitMask\ParticipantStatus::TYPE_STATUS_WITHDRAW_REQUESTED
  .has-status-8 {
    &:after {
      background: $brand-warning;
      content: "R\00fccknahme angefragt";
    }
  }

  // \AppBundle\BitMask\ParticipantStatus::TYPE_STATUS_WITHDRAWN
  .has-status-4 {
    &:after {
      background: $brand-danger;
      content: "zur\00fcckgezogen";
    }
  }

  // \AppBundle\BitMask\ParticipantStatus::TYPE_STATUS_REJECTED
  .has-status-16 {
    &:after {
      background: $brand-danger;
      content: "abgelehnt";
    }
  }
}

#network-container {
  .btn-toolbar {
    margin: 0;
  }

  .row .col-xs-12 {
    padding: 0;
  }

  .fillout-participant-detecting button {
    display: none;
  }

  @media (min-width: 768px) {
    .dl-horizontal dt {
      width: 220px;
    }
    .dl-horizontal dd {
      margin-left: 240px;
    }
  }
}

.attendance-list-toolbar {
  margin-bottom: 10px;
}

#attendance-filters {
  @media (max-width: $screen-md) {
    .navbar-form {
      padding: 5px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .navbar-btn.btn-sm {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .navbar-form {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navbar-text {
    line-height: 30px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

#attendanceFilloutPage {
  &.locked {
    .btn {
      cursor: not-allowed;
      opacity: 0.65;
    }

    .hide-if-locked {
      display: none;
    }

    .column .btn.active {
      opacity: inherit;
    }

    .attendance-list-toolbar .btn,
    .navbar .btn,
    .btn.btn-never-lock-if-active.active,
    .btn.btn-never-lock {
      cursor: pointer;
      opacity: inherit;
    }
  }
}

#attendanceList {
  .btn.active {
    color: #fff;
    background-color: $btn-primary-bg;
    border-color: darken($btn-primary-bg, 14%);
  }

  .btn.btn-alert {
    background-color: $btn-danger-bg !important;
    border-color: darken($btn-danger-bg, 14%) !important;;
  }

  .btn.active.preview {
    color: #fff;
    background-color: lighten($btn-primary-bg, 15%);
    border-color: lighten(darken($btn-primary-bg, 14%), 15%);
    @include transition(background-color 0.2s);
    animation: pulse-bg 3s infinite;
  }

  &.disabled .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
  }

  td.action {
    max-width: 40px;
  }


  tbody {
    tr td {
      @include transition(border-width 0.2s ease-out);
      cursor: default;
      padding: 0;

      .p {
        @include transition(max-height 0.5s ease-out);
        overflow: hidden;
        max-height: 100px;

        .i {
          padding: 8px;
        }
      }
    }
  }

  tr.filtered-hidden {
    td {
      @include transition(border-width 0.2s ease-out);
      border-width: 0px;

      .p {
        @include transition(max-height 0.5s ease-out);
        max-height: 0;

        .btn {

        }
      }
    }
  }
}

@keyframes pulse-bg {
  0% {
    background-color: lighten($btn-primary-bg, 25%);
  }
  50% {
    background-color: lighten($btn-primary-bg, 15%);
  }
  100% {
    background-color: lighten($btn-primary-bg, 25%);
  }
}

abbr.unit {
  display: inline-block;
  min-width: 37px;
  text-align: left;
  font-size: smaller;
}

.meals-container {

  table thead td {
    font-weight: bold;
  }

  td .description {
    font-size: smaller;
  }

  .meal-feedback-input .btn, .input-group-addon {
    padding: 6px;
    @media (min-width: $screen-lg) {
      padding: 6px 12px;
    }
  }

  td.ingredient-feedback-cell {
    padding: 2px 8px;
  }

  .feedback-lg .ingredient-feedback > div {
    width: 40px;
  }

  .ingredient-feedback {
    display: inline-block;
    vertical-align: text-bottom;
    cursor: pointer;

    > div {
      bottom: 0;
      float: left;
      width: 12px;
      min-height: 2px;
      background-color: $brand-primary;
    }

    .feedback-2, .feedback2 {
      opacity: 0.25;
    }

    .feedback-1, .feedback1 {
      opacity: 0.5;
    }

    .feedback0 {
      opacity: 1;
    }
  }
}

#vis-network {
  width: 100%;
  border: 1px solid lightgrey;

  &.loading {
    margin: auto;
    padding: 125px;
    text-align: center;
  }
}

.participant-additional-occurrences {
  .participantdeleted {
    color: #444;
    text-decoration: line-through;
  }

  .widthdrawnrejected {
    text-decoration: line-through;
  }

  .eventdeleted {
    font-style: italic;
    text-decoration: line-through;
  }
}

#infoEventPaymentSummary {
  max-height: 0;
  overflow: hidden;

  &.load {
    @include transition(max-height 0.6s ease-out);
    max-height: 600px;
  }

  .progress {
    margin-bottom: 0;
  }
}

.progress .progress-bar {
  &.bar-transparent {
    background-color: transparent;
    color: #222;
    box-shadow: inset 0 -1px 0 transparent;
    -webkit-box-shadow: inset 0 -1px 0 transparent;
  }

  &.bar-alt {
    background-color: $brandPrimaryLight;
    color: #222;
  }
}

.event-meta {
  label {
    font-size: 106%;
  }

  i.owf {
    color: $brand-primary;
  }

  #weather-current > label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

}

.compact-form-group .form-group {
  margin-bottom: 5px;

  .checkbox {
    margin: 0;
  }
}