.flat-progress-bar .progress {
  margin-bottom: 6px;
}

.progress-bar-gender-1 {
  background-color: #559fff;
}

.progress-bar-gender-2 {
  background-color: #ffa1c9;
}

#event_description {
  min-height: 500px;
}

iframe[name=export-generator-frame] {
  display: none;
}

.acquisition-attribute .help-block {
  white-space: pre-line;
}

#event_add_user_assignments_assignUser {
  min-height: 300px;
}

#participantsListTable .payment-cell {
  text-align: right;

  i {
    opacity: 0.2;
  }

}

.row.column-configuration {
  margin-top: 20px;
}

.acquisition-attribute.field-appbundle-form-bankaccounttype > div {
  @include make-row();
}

.acquisition-attribute.field-appbundle-form-bankaccounttype > div > div {
  @include make-xs-column(4);
}

.acquisition-attribute > div > div {
    @include make-xs-column(12);
}

#specificAge {
  width: 65px;
}

.table-remote-content .rounded-age {
  display: inline-block;
  min-width: 37px;
  opacity: 0.8;
}
