.flat-progress-bar .progress {
  margin-bottom: 6px;
}

.progress-bar-gender-1 {
  background-color: #559fff;
}

.progress-bar-gender-2 {
  background-color: #ffa1c9;
}

#event_description {
  min-height: 500px;
}

iframe[name=export-generator-frame] {
  display: none;
}

.acquisition-attribute .help-block {
  white-space: pre-line;
}

#event_add_user_assignments_assignUser {
  min-height: 300px;
}

#participantsListTable .payment-cell {
  text-align: right;

  i {
    opacity: 0.2;
  }

}

.acquisition-attribute.field-appbundle-form-participantdetectingtype > div,
.acquisition-attribute.field-appbundle-form-bankaccounttype > div {
  @include make-row();
}

.acquisition-attribute.field-appbundle-form-participantdetectingtype > div > div {
  @include make-sm-column(6);
}

.acquisition-attribute.field-appbundle-form-bankaccounttype > div > div {
  @include make-xs-column(4);
}

.acquisition-attribute > div > div {
  @include make-xs-column(12);
}

#specificAge {
  width: 65px;
}

.table-remote-content .rounded-age {
  display: inline-block;
  min-width: 37px;
  opacity: 0.8;
}

.event-showcase .thumbnail {
  background: white;
}

.related-participants-proposal-list {
  margin-top: 10px;

  > label {
    margin: 0;
  }
}

div.help-block {
  margin: 0 0 10px;
}

div.help-block > p {
  margin: 0 0 5px;
}

input.input-formula, textarea.input-formula, .btn-formula-variable span, tbody .formula-cell {
  font-family: monospace;
}

input.input-formula, textarea.input-formula {
  margin-bottom: 2px;
}

.btn-formula-variable {
  color: #333;
  margin: 2px 0;
}

#help-form-formula {
  margin-top: 10px;
}


#modalHistory {
  table.loading {
    height: 0px;
  }

  table {
    width: 100%;
    height: 400px;
    table-layout: fixed;

    -webkit-transition: height 0.6s ease-out;
    -moz-transition: height 0.6s ease-out;
    transition: height 0.6s ease-out;

    tr.h td {
      border-top: 1px solid black;
      vertical-align: top;
    }

    tbody tr, tbody td {
      box-sizing: unset;
      height: 2px;
    }

    tfoot tr td {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    td {
      background: lightgray;

      &:first-child {
        background: lighten(lightgray, 10%);
      }

      &:nth-child(2n+3) {
        background: lighten(lightgray, 2%);
      }
    }

    td.f {
      background: $brandPrimaryDark;

      &:nth-child(2n+3) {
        background: lighten($brandPrimaryDark, 2%);
      }
    }

    td.y {
      text-align: right;
      padding-right: 1px;
    }

    tr.x td, td.y {
      background: transparent;
      font-size: smaller;
    }

    tr.x {
      text-align: center;
    }

    tr.x td:first-child, td.y {
      background: lighten($brandPrimaryDark, 60%) !important;
    }

    tr.x.day td {
      background: lighten($brandPrimaryDark, 35%);

      &:nth-child(2n+3) {
        background: lighten($brandPrimaryDark, 40%);
      }
    }

    tr.x.month td {
      background: lighten($brandPrimaryDark, 44%);

      &:nth-child(2n+3) {
        background: lighten($brandPrimaryDark, 51%);
      }
    }

    tr.x.year td {
      background: lighten($brandPrimaryDark, 60%);

      &:nth-child(2n+3) {
        background: lighten($brandPrimaryDark, 55%);
      }
    }

  }
}


.modal-add-entities {
  option {
    padding: 3px 0;

    &.has-groups {
      opacity: 0.75;
    }
  }

  //please note that order of items is important here - since the css rules are overriding each other of there are
  //multiple rules providing :after content in effect, only one is displayed which should be the most important one

  .has-status-1, .has-status-4, .has-status-8, .has-status-16 {
    &:after {
      margin-left: 4px;
      display: inline;
      padding: 0.2em 0.6em 0.3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25em;
    }
  }

  // \AppBundle\BitMask\ParticipantStatus::TYPE_STATUS_CONFIRMED
  .has-status-1 {
    &:after {
      background: $brand-success;
      content: "Best\00e4tigt";
    }
  }

  // \AppBundle\BitMask\ParticipantStatus::TYPE_STATUS_WITHDRAW_REQUESTED
  .has-status-8 {
    &:after {
      background: $brand-warning;
      content: "R\00fccknahme angefragt";
    }
  }

  // \AppBundle\BitMask\ParticipantStatus::TYPE_STATUS_WITHDRAWN
  .has-status-4 {
    &:after {
      background: $brand-danger;
      content: "zur\00fcckgezogen";
    }
  }

  // \AppBundle\BitMask\ParticipantStatus::TYPE_STATUS_REJECTED
  .has-status-16 {
    &:after {
      background: $brand-danger;
      content: "abgelehnt";
    }
  }
}
