//remove top additional space from radioboxes
.checkbox, .radio {
  margin-top: 0;
}

.checkbox-with-help-block .checkbox {
  margin-bottom: 0;
}

.input-group-btn button {
  min-height: 34px;
}

.help-block {
  margin-top: 0;

  span {
    font-weight: bold;
    font-style: italic;
  }
}

.help-block-input {
  margin-top: -10px;
}

textarea {
  min-height: 100px;
}

.control-label.checkbox-smart-label {
  font-weight: bold;
}

.scrollspy-panel {
  .navbar {
    min-height: 10px;
    margin-bottom: 0;
  }
  @media (min-width: 768px) {
    .container-fluid {
      padding: 0;
    }
    .navbar {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .panel {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .navbar-nav > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .panel-body {
  }

  .navbar-header {

  }
  .panel-body > div {
    position: relative;
    height: 300px;
    margin-top: 10px;
    overflow: auto;
  }
  .panel-footer {
    .checkbox, .radio {
      margin: 0;
    }
  }
}

.btn-toolbar-spacer {
  margin-bottom: 10px;
}

@media (min-width: $screen-sm-min) {
  .btn-inline-save {
    margin-top: 24px;
  }
}

dd ul,
.form-group ul.form-control-static {
  padding-left: 20px;

  li {
    padding-bottom: 3px;
  }

  li span.deleted {
    text-decoration: line-through;
  }
}

.help-block ul.list-unstyled {
  color: $state-danger-text;
}
