body.dark {
  background: #333;
  color: white;
  #page {
    background: #333;
    color: white;
  }

  .page-header {
    border-color: #777;
  }

  h1, h2, h3, h4, h5, h6 {
    small {
      color: #ddd;
    }
  }
}

#gallery {
  .gallery-image-wrap {
    overflow: hidden;
    background-color: #777;
    position: absolute;

    .gallery-image {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      position: fixed;
      filter: blur(3px);
    }
    a, a:link, a:visited {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
    a:hover {
      background-color: rgba(255, 255, 255, 0.03);
    }
  }

}

#upload-progress {
  margin: 15px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#galleryImageDetails img {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.media-gallery {
  .row.gallery {
    margin: 30px 15px 15px 0;

    > div {
      padding: 0 10px 20px 0;

      .gallery-image-wrap {

        img {
          margin-bottom: 14px;
        }

        span {
          text-overflow: ellipsis;
          max-width: 145px;
          height: 22px;
          display: inline-block;
          overflow: hidden;
        }
      }
    }

    div.col-md-4 span {
      max-width: 215px;
    }
    div.col-md-2 {
      img {
        margin-bottom: 10px;
      }
      span {
        font-size: 80%;
        max-width: 77px;
      }
    }
  }

  /* By default, we tilt all our images -2 degrees */
  .row.gallery div a {
    background: darken(white, 2%);
    display: inline;
    float: left;
    margin: 0 0 27px 30px;
    width: auto;
    min-width: 75px;
    min-height: 75px;
    padding: 10px 10px 15px;
    text-align: center;
    font-family: "Marker Felt", "Boogaloo", sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -webkit-transform: rotate(-2deg);
    -webkit-transition: -webkit-transform .15s linear;
    -moz-transform: rotate(-2deg);
  }

  .row.gallery div.col-md-2 a {
    padding: 5px 5px 10px;
  }

  .row.gallery div a:hover {
    background: darken(white, 1%);
    -webkit-transform: scale(1.25) !important;
    -moz-transform: scale(1.25) !important;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    position: relative;
    z-index: 5;
  }

  /* By default, we tilt all our images -2 degrees */
  .row.gallery a {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
  }

  /* Rotate all even images 2 degrees */
  .row.gallery div:nth-child(even) a {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
  }

  /* Don't rotate every third image, but offset its position */
  .row.gallery div.col-md-3:nth-child(3n) a {
    -webkit-transform: none;
    -moz-transform: none;
    position: relative;
    top: -5px;
  }

  /* Rotate every fifth image by 5 degrees and offset it */
  .row.gallery div:nth-child(5n) a {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    right: 5px;
  }

  /* Keep default rotate for every eighth, but offset it */
  .row.gallery div:nth-child(8n) a {
    position: relative;
    top: 8px;
    right: 5px;
  }

  /* Keep default rotate for every eleventh, but offset it */
  .row.gallery div:nth-child(11n) a {
    position: relative;
    top: 3px;
    left: -5px;
  }
}