body.dark {
  background: #333;
  color: white;
  #page {
    background: #333;
    color: white;
  }

  .page-header {
    border-color: #777;
  }

  h1, h2, h3, h4, h5, h6 {
    small {
      color: #ddd;
    }
  }
}

.gallery {
  height: 300px;

  .gallery-image-wrap {
    overflow: hidden;
    background-color: #777;
    position: absolute;

    .gallery-image {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      position: fixed;
      filter: blur(3px);
    }
    a, a:link, a:visited {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
    a:hover {
      background-color: rgba(255, 255, 255, 0.03);
    }
  }

}

#upload-progress {
  margin: 15px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#galleryImageDetails img {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.ekko-lightbox .modal-dialog {
  @media (min-width: $screen-sm) {
    width: auto;
  }
  width: auto;
}

#gallery-cache-clear-btn-wrap {
  text-align: right;
  button {
    margin: 10px 0;
  }
}