.navbar-brand {
  padding: 2px 15px;
}

.navbar-header > .container-fluid {
  padding-right: 0;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus,
.navbar > .container .navbar-header a:hover {
  background-color: $navbar-inverse-link-hover-bg;
}

.collapse-breadcrumb-header {
  .breadcrumb {
    margin-bottom: 0;
  }
  .page-header {
    margin-top: 0;
  }
}

.editor-toolbar.fullscreen {
  z-index: 1000;
}