{% extends 'base.html.twig' %}

{% block title %}Anmeldung - Anmeldungsdaten bearbeiten ({{ event.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Anmeldung', 'subtitle': 'Anmeldungsdaten bearbeiten'} %}
        {% block breadcrumb %}
            {% if adminView %}
                <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
                <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
                <li><a href="{{ path('event_participants_list', {'eid': event.eid }) }}">Teilnehmer</a></li>
                <li><a href="{{ path('event_participation_detail', {'eid': event.eid, 'pid': participation.pid}) }}">{{ participation|participantsgrouped }}</a>
                </li>
            {% else %}
                <li><a href="{{ path('public_participations') }}">Anmeldungen</a></li>
                <li><a href="{{ path('public_participation_detail', {'pid': participation.pid}) }}">Anmeldung
                        bei {{ event.title }}</a></li>
                <li><a href="{{ path('public_participation_detail', {'pid': participation.pid}) }}">Detailansicht</a>
                </li>
            {% endif %}
            <li class="active">Anmeldungsdaten bearbeiten</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-12">
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        {{ form_row(form.salution) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.nameFirst) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_row(form.nameLast) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.addressStreet) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        {{ form_row(form.addressZip) }}
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        {{ form_row(form.addressCity) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.email) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for fieldName,formField in form %}
                {% if fieldName starts with 'acq_field_' %}
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group acquisition-attribute">
                            {{ form_label(formField) }}
                            {%- set acquisitionField = acquisitionFields[fieldName] -%}
                            {% if not acquisitionField.isPublic %}
                                {{ 'lock'|glyph('Dieses Feld wird nur intern und nicht in der öffentlichen Anmeldung angezeigt') }}
                            {%- endif -%}
                            {% if acquisitionField.formDescription %}
                                <button type="button" class="btn btn-default btn-xs btn-round"
                                        data-toggle="popover"
                                        data-content="{{ acquisitionField.formDescription }}">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </button>
                            {% endif %}
                            {{ form_widget(formField) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-primary navbar-btn" value="Änderungen speichern"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}