{% extends 'base.html.twig' %}

{% block title %}Veranstaltung ({{ event.title }}){% endblock %}

{% block body %}
<section>
<article>
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Veranstaltung', 'subtitle': 'Detailansicht'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
            <li class="active">{{ event.title }}</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-toolbar" role="toolbar" aria-label="Veranstaltung bearbeiten">
                    {%- if is_granted('participants_read', event) %}
                        <div class="btn-group" role="group">
                            <a href="{{ path('event_participants_list', {'eid': event.eid }) }}"
                               class="btn btn-default">{{ 'list'|glyph }} <span class="hidden-xs">{{ participantsCount }} Teilnehmer
                                    {% if event.participantsUnconfirmedCount -%}
                                        <span class="badge">{{- event.participantsUnconfirmedCount }}</span>{%- endif -%}</span>
                            </a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Menü erweitern</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('event_participants_list', {'eid': event.eid }) }}">{{ 'list'|glyph }} Teilnehmer verwalten</a></li>
                                <li><a href="{{ path('event_attendance_lists', {'eid': event.eid }) }}">{{ 'check'|glyph }} Anwesenheitslisten</a></li>
                                {%- if is_granted('participants_edit', event) -%}
                                <li><a href="{{ path('event_mail', {'eid': event.eid }) }}">{{ 'send'|glyph }} E-Mail versenden…</a></li>
                                {%- endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('event_participants_print', {'eid': event.eid, 'type': 'print' }) }}" target="_blank">{{ 'print'|glyph }} Steckbriefe mit Deckblättern drucken</a></li>
                                <li><a href="{{ path('event_participants_print', {'eid': event.eid, 'type': 'printdataonly' }) }}" target="_blank">{{ 'print'|glyph }} Steckbriefe ohne Deckblätter drucken</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('event_export_generator', {'eid': event.eid }) }}">{{ 'export'|glyph }} Export erstellen…</a></li>
                                <li><a href="{{ path('event_participants_export', {'eid': event.eid }) }}">Teilnehmer exportieren</a></li>
                                <li><a href="{{ path('event_participations_export', {'eid': event.eid }) }}">Anmeldungen exportieren</a></li>
                                <li><a href="{{ path('event_participants_mail_export', {'eid': event.eid }) }}">Für Serienbrief exportieren</a></li>
                                <li><a href="{{ path('event_participants_birthday_address_export', {'eid': event.eid }) }}">Für Zuschussanträge exportieren</a></li>
                            </ul>
                        </div>
                    {%- endif %}
                    {%- if is_granted('edit', event) -%}
                        <div class="btn-group" role="group">
                            <a href="{{ path('event_edit', {'eid': event.eid }) }}"
                               class="btn btn-primary">{{ 'pencil'|glyph }} <span class="hidden-xs">Bearbeiten</span></a>
                            <button type="button" class="btn btn-default" data-element="activebutton" data-entity="Event"
                                    data-property="isVisible" data-entity-id="{{ event.eid }}"
                                    data-token="{{ csrf_token('Event' ~ 'isVisible' ~ event.eid ) }}"
                                    data-button-enable-label="Sichtbar schalten" data-button-enable-glyph="eye-open"
                                    data-button-disable-label="Verstecken"
                                    data-button-disable-glyph="eye-close">{{ 'option-horizontal'|glyph }}</button>
                            <button type="button" class="btn btn-default" data-element="activebutton" data-entity="Event"
                                    data-property="isActive" data-entity-id="{{ event.eid }}"
                                    data-token="{{ csrf_token('Event' ~ 'isActive' ~ event.eid ) }}"
                                    data-button-enable-label="Aktivieren" data-button-enable-glyph="folder-open"
                                    data-button-disable-label="Deaktivieren"
                                    data-button-disable-glyph="folder-close">{{ 'option-horizontal'|glyph }}</button>
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#acquisitionAssignmentModal" id ="acquisitionAssignmentButton" title="Felder verwalten">
                                {{ 'th-list'|glyph }}<span class="hidden-xs"> Felder</span>
                            </button>
                        </div>
                    {% endif -%}
                    <a href="{{ path('event_gallery_admin', {'eid': event.eid }) }}"
                       class="btn btn-default" title="Bildergalerie verwalten">{{ 'picture'|glyph }} <span class="hidden-xs">Bildergalerie</span></a>
                    {%- if is_granted('edit', event) -%}
                        <a href="{{ path('event_user_admin', {'eid': event.eid }) }}"
                           class="btn btn-default" title="Benutzerzuweisung bearbeiten">{{ 'user'|glyph }} <span class="hidden-xs">{{ event.userAssignments|length }} Benutzer</span></a>
                        <div class="modal fade" id="acquisitionAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="acquisitionAssignmentButton">
                            <div class="modal-dialog" role="document">
                                {{ form_start(acquisitionAssignmentForm) }}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Abbrechen"><span
                                                    aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Felder verwalten</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ form_row(acquisitionAssignmentForm.acquisitionAttributes) }}
                                        <p>Hier werden die zusätzlichen Felder ausgewählt, die bei jeder Anmeldung eines Teilnehmers erfasst werden. Werden Felder deaktiviert, bleiben bereits erfasste Daten erhalten. Die Eigenschaften der verfügbaren Felder werden im <a href="{{ path('acquisition_list') }}">Felder</a>-Bereich verwaltet.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                                    </div>
                                </div>
                                {{ form_end(acquisitionAssignmentForm) }}
                            </div>
                        </div>
                        {% if event.deletedAt -%}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="restore" title="aus dem Papierkorb zurückholen">
                                {{ 'repeat'|glyph }}<span class="hidden-xs"> Wiederherstellen…</span>
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="delete" title="in den Papierkorb verschieben">
                                {{ 'trash'|glyph }}<span class="hidden-xs"> Papierkorb…</span>
                            </button>
                        {%- endif -%}
                    {%- endif -%}

                    {% if app.user is not null %}
                        <label id="event-subscription-button" class="btn btn-default {% if event.subscribedBy(app.user) %}active{% endif %}">{{ 'bell'|glyph }} <span class="hidden-xs">Abonnieren</span></label>
                    {% endif %}
                    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog"
                         aria-labelledby="dialogModalLabel">
                        <div class="modal-dialog" role="document">
                            {{ form_start(form) }}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Abbrechen"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="dialogModalLabel"></h4>
                                </div>
                                <div class="modal-body">
                                    <p></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                                    </button>
                                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h2>{{ event.getTitle }}</h2>
                <p>
                    {{ 'calendar'|glyph }} {{ event.getStartDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                    {% if event.hasStartTime %}
                        {{ event.getStartTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                    {% endif %}
                    {% if event.hasEndDate or event.hasEndTime %}
                        -
                        {% if event.hasEndDate %}
                            {{ event.getEndDate.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_DATE')) }}
                        {% endif %}
                        {% if event.hasEndTime %}
                            {{ event.getEndTime.format(constant('AppBundle\\Entity\\Event::DATE_FORMAT_TIME')) }}
                        {% endif %}
                    {% endif %}

                    <span class="status-label-list">
                    {% if event.isVisible() %}
                        <span class="label label-primary option-isVisible">Sichtbar</span>
                    {% else %}
                        <span class="label label-default option-isVisible">Versteckt</span>
                    {% endif %}
                    {% if event.isActive() %}
                        <span class="label label-primary option-isActive">Aktiv</span>
                    {% else %}
                        <span class="label label-default option-isActive">Inaktiv</span>
                    {% endif %}
                    </span>
                    {% if event.isAutoConfirm() %}
                        <span class="label label-primary">Automatische Bestätigungen</span>
                    {% endif %}
                    {% if event.hasWaitingListThreshold() %}
                        <span class="label label-primary">Warteliste ab {{ event.waitingListThreshold }} <abbr title="Teilnehmern">TN</abbr></span>
                    {% endif %}
                </p>
                {{ event.getDescription|markdown }}
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Poster</h4>
                        {% if event.imageFilename %}
                            <a href="{{ path('event_image_original', {'eid': event.eid}) }}" class="thumbnail">
                                <div class="lazy-load-image"
                                      data-alt="Poster-Abbildung wurde nicht geladen" data-title="Poster"
                                      data-src="{{ path('event_image',  {'eid': event.eid, 'width': 360, 'height': 500 }) }}">
                                </div>
                            </a>
                        {% else %}
                            <div class="thumbnail">
                                <div class="alert alert-info" role="alert">
                                    <p>Es ist keine Bild-Datei als Poster zu dieser Veranstaltung gespeichert.</p>

                                    <p> Beim <a href="{{ path('event_edit', {'eid': event.eid }) }}" class="alert-link">Bearbeiten</a>
                                        dieser Veranstaltung kann ein entsprechendes Bild hochgeladen werden.</p>

                                    <p>Dadurch wird die Veranstaltung besser präsentiert.</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 flat-progress-bar">
                        <h4>Verteilung</h4>
                        {% if ageDistribution|length %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="progress">
                                        {% for code, genderData in genderDistribution %}
                                            <div class="progress-bar progress-bar-gender-{{ genderData.type }}"
                                                 data-toggle="tooltip" title="{{ genderData.count  }}/{{ participantsCount }} Teilnehmer sind {{ genderData.label }}"
                                                 role="progressbar" aria-valuenow="{{ genderData.count }}"
                                                 aria-valuemin="0" aria-valuemax="{{ participantsCount }}"
                                                 style="width: {{ ((genderData.count/participantsCount)*100) }}%;">
                                                <span class="sr-only">{{ genderData.count  }}/{{ participantsCount }} Teilnehmer sind {{ genderData.label }}</span>
                                                <span>{{ genderData.count }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% for age, count in ageDistribution %}
                                <div class="row">
                                    <div class="col-xs-2 col-sm-3 text-right">
                                        {{ age }} <abbr title="Jahre (gerundet)">J.</abbr>
                                    </div>
                                    <div class="col-xs-10 col-sm-9">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ count }}"
                                                 aria-valuemin="0" aria-valuemax="{{ ageDistributionMax }}"
                                                 data-toggle="tooltip" title="{{ count }}/{{ participantsCount }} Teilnehmer sind im Alter von rund {{ age }} Jahren"
                                                 style="width: {{ ((count/ageDistributionMax)*100) }}%;">
                                                <span class="sr-only">{{ count }}/{{ participantsCount }} Teilnehmer im Alter von rund {{ age }}
                                                    Jahren</span>
                                                <span title="Anzahl">
                                                    <abbr title="Teilnehmer">{{ count }}</abbr>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col-xs-12">
                                    Im Moment sind keine Teilnehmer angemeldet.
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12">
                        <h4>Benutzer</h4>
                        {% if event.userAssignments|length %}
                        <ul>
                            {% for assignment in event.userAssignments %}
                                <li><a href="{{ path('user_detail', {uid: assignment.user.uid}) }}">{{ assignment.user|fullname }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                <p>Der Veranstaltung sind noch keine Benutzer zugewiesen.</p>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
</section>
{% endblock %}
{% block javascriptCustom %}
    {% cspscript %}
    <script>
        jQuery(document).ready(function () {
            $('#dialogModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget),
                        action = button.data('action'),
                        modal = $(this),
                        title,
                        question;

                switch (action) {
                    case 'delete':
                        title = 'Veranstaltung in Papierkorb verschieben';
                        question = 'Soll diese Veranstaltung wirklich in den Papierkorb verschoben werden?';
                        break;
                    case 'restore':
                        title = 'Veranstaltung aus Papierkorb nehmen';
                        question = 'Soll diese Veranstaltung wirklich aus dem Papierkorb herausgeholt werden?';
                        break;
                }
                modal.find('.modal-title').text(title);
                modal.find('.modal-body > p').text(question);
                modal.find('input[name="form[action]"]').val(action);
            });
            $('[data-entity="Event"]').on('juvem.activeButton.success', function (event, button, response) {
                if (response.value !== null) {
                    var option = button.data('property');

                    $('.status-label-list .option-' + option).each(function (i, el) {
                        el = $(el);

                        var textEnabled,
                                textDisabled;

                        switch (option) {
                            case 'isActive':
                                textEnabled = 'Aktiv';
                                textDisabled = 'Inaktiv';
                                break;
                            case 'isVisible':
                                textEnabled = 'Sichtbar';
                                textDisabled = 'Versteckt';
                                break;
                        }

                        if (response.value) {
                            el.text(textEnabled);
                            el.addClass('label-primary');
                            el.removeClass('label-default');
                        } else {
                            el.text(textDisabled);
                            el.addClass('label-default');
                            el.removeClass('label-primary');
                        }
                    });
                }
            });

            $('#event-subscription-button').click(function() {
                var btn = $(this),
                    valueNew = !btn.hasClass('active');
                btn.addClass('disabled');

                $.ajax({
                    type: 'POST',
                    url: '{{ path('event_admin_subscription') }}',
                    data: {
                        _token: '{{ csrf_token('Event' ~ 'subscribe' ~ event.eid ) }}',
                        eid: {{event.eid}},
                        valueNew: valueNew ? 1 : 0
                    },
                    datatype: 'json',
                    success: function () {
                        btn.toggleClass('active', valueNew);
                    },
                    error: function (response) {
                        $(document).trigger('add-alerts', {
                            message: 'Die Änderung des Abonnements der Veranstaltung konnten nicht gespeichert werden. Möglicherweise ist die Internetverbindung unterbrochen worden.',
                            priority: 'error'
                        });
                    },
                    complete: function (response) {
                        btn.removeClass('disabled');
                    }
                });
            });


        });
    </script>
    {% endcspscript %}
{% endblock %}