{% extends 'base.html.twig' %}

{% block title %}Anmeldung ({{ event.title }}){% endblock %}

{% block body %}
    {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
    <div class="modal fade" id="dialogModalComment" tabindex="-1" role="dialog" aria-labelledby="dialogModalCommentLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalCommentLabel">Anmerkungen</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="modalCommentToken" value="{{ csrf_token('Comment') }}" />
                        <textarea class="form-control" id="modalCommentContent"></textarea>
                    </div>
                    <p class="meta"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary" id="dialogModalCommentButton">Bestätigen</button>
                </div>
            </div>
        </div>
    </div>
    {% endif -%}
    {% if is_granted('participants_edit', event) -%}
    <div class="modal fade" id="dialogPriceConfiguration" tabindex="-1" role="dialog" aria-labelledby="dialogPriceConfigurationLabel" data-token="{{ csrf_token('Participation' ~ 'price' ) }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogPriceConfigurationLabel">Zahlungsverwaltung für <span></span></h4>
                </div>
                <div class="modal-body">
                    <div>
                      <ul class="nav nav-tabs" role="tablist" id="paymentManagementTabs">
                          <li role="presentation" class="active"><a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">Zahlung erfassen</a></li>
                          <li role="presentation"><a href="#price" aria-controls="price" role="tab" data-toggle="tab">Preis festlegen</a></li>
                          <li role="presentation"><a href="#priceHistory" id="priceHistoryLink" aria-controls="priceHistory" role="tab" data-toggle="tab">Zahlungshistorie</a></li>
                      </ul>
                        <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="payment">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group" role="group">
                                            {% set paymentParticipation = paymentManager.toPayValueForParticipation(participation, true) %}
                                            <button type="button" class="btn btn-default btn-predefined btn-payment-full" data-value="{{ paymentParticipation|number_format(2) }}" data-description="Komplett"><b>{{ paymentParticipation|number_format(2) }} €</b> Komplett</button>
                                        </div>
                                        {% for suggestion in paymentSuggestions %}
                                            {% if loop.index <= 2 %}
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default btn-predefined"
                                                            data-value="{{ suggestion.value(true)|number_format(2) }}"
                                                            data-description="{{ suggestion.description }}">
                                                        <b>{{ suggestion.value(true)|number_format(2) }} €</b> <small>{{ suggestion.description }}</small>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="newPrice">Betrag</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">€</div>
                                            <input type="text" class="form-control" id="paymentValue" placeholder="Betrag">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-10">
                                            <div class="form-group">
                                                <label for="newPriceDescription">Anmerkung</label>
                                                <input type="text" class="form-control" id="paymentDescription" placeholder="Barzahlung, Überweisung oder Zuschuss">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-2">
                                            <button class="btn btn-primary btn-inline-save" title="Zahlungsvorgang buchen"
                                                    data-action="{{ constant('AppBundle\\Controller\\Event\\Participation\\AdminPaymentController::ACTION_PAYMENT_RECEIVED') }}">{{ 'floppy-disk'|glyph }}
                                                <span class="visible-xs-inline">Zahlungsvorgang buchen</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <td class="text-right">Betrag</td>
                                            <td>Teilnehmer</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="2" class="text-center">(Wird geladen)</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="help-block">Bei Zahlungen für mehrere Teilnehmer: Deckt die Zahlung den gesamten offenen Betrag, wird die Zahlung entsprechend auf die Teilnehmer aufgeteilt. Bei Überdeckung wird der Überschuss auf dem ersten Teilnehmer verbucht. Deckt die Zahlung den offenen Betrag nicht und ist der offene Betrag aller Teilnehmer gleich, wird die Zahlung gleichmäßig aufgeteilt. Ist der offene Betrag für alle Teilnehmer unterschiedlich, wird die Zahlung beginnend beim ersten Teilnehmer aufgeteilt, bis die Zahlung aufgebraucht ist.</p>
                                    <p class="help-block">Für Korrekturbuchungen ein negatives Vorzeichen <code>-</code> voranstellen. Sollen beispielsweise <samp> 20 €</samp> die überzahlt wurden korrigiert werden, <code>-20</code> buchen.</p>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="price">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="btn-group btn-group-justified" role="group">
                                        {% for suggestion in priceSuggestions %}
                                            {% if loop.index <= 3 %}
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default btn-predefined"
                                                            data-value="{{ suggestion.value(true)|number_format(2) }}"
                                                            data-description="{{ suggestion.description }}">
                                                        <b>{{ suggestion.value(true)|number_format(2) }} €</b> <small>{{ suggestion.description }}</small>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="newPrice">Preis je <abbr title="Teilnehmer">TN</abbr></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">€</div>
                                            <input type="text" class="form-control" id="newPriceValue" placeholder="Preis">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-10">
                                            <div class="form-group">
                                                <label for="newPriceDescription">Anmerkung</label>
                                                <input type="text" class="form-control" id="newPriceDescription" placeholder="Grund dieser Festlegung oder Art des Preises">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-2">
                                            <button class="btn btn-primary btn-inline-save" title="Preis festlegen"
                                                    data-action="{{ constant('AppBundle\\Controller\\Event\\Participation\\AdminPaymentController::ACTION_PRICE_SET') }}">{{ 'floppy-disk'|glyph }}
                                                <span class="visible-xs-inline">Geänderten Preis speichern</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="priceHistory">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <td></td>
                                            <td>Teilnehmer</td>
                                            <td>Wert</td>
                                            <td>Beschreibung</td>
                                            <td>Erfassung</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="5" class="text-center">(Wird geladen)</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                      </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dialogPayment" tabindex="-1" role="dialog" aria-labelledby="dialogPaymentLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogPaymentLabel">Bezahlung abwickeln</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                    </button>
                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabel">
        <div class="modal-dialog" role="document">
            {{ form_start(formAction) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                    </button>
                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                </div>
            </div>
            {{ form_end(formAction) }}
        </div>
    </div>
    <div class="modal fade" id="dialogModalAssignUser" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabelAssignUser">
        <div class="modal-dialog" role="document">
            {{ form_start(formAssignUser) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogModalLabelAssignUser">Benutzerkonto verknüpfen</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_widget(formAssignUser.assignedUser) }}
                            <p class="help-block">Hier kann die Anmeldung mit einem Benutzerkonto verknüpft werden, mit
                                dem diese Anmeldung abgegeben wurde. Sie erscheint dann in der Liste der Anmeldungen
                                dieses Benutzers.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                    </button>
                    <input type="submit" class="btn btn-primary" value="Bestätigen"/>
                </div>
            </div>
            {{ form_end(formAssignUser) }}
        </div>
    </div>
    {% endif -%}
    <div class="container participation-panels collapse-breadcrumb-header">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">{{ appTitle }}</a></li>
                    <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
                    <li><a href="{{ path('event', {'eid': event.eid }) }}">{{ event.title }}</a></li>
                    <li><a href="{{ path('event_participants_list', {'eid': event.eid }) }}">Teilnehmer</a></li>
                    <li class="active">{{ participation|participantsgrouped() }}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Anmeldung <small>{{ participation|participantsgrouped }}</small></h1>
                </div>
            </div>
            <div class="col-xs-12 hidden-print">
                {% if is_granted('participants_edit', event) -%}
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                        {% if participation.rejected %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="rereject">
                                {{ 'thumbs-up'|glyph }} wiederaufnehmen…
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="reject">
                                {{ 'thumbs-down'|glyph }} ablehnen…
                            </button>
                        {% endif %}
                        {% if participation.withdrawn %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="reactivate">
                                {{ 'retweet'|glyph }} reaktivieren…
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="withdraw">
                                {{ 'share-alt'|glyph }} zurückziehen…
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-element="activebutton"
                                data-entity="Participation"
                                data-property="isConfirmed" data-entity-id="{{ participation.pid }}"
                                data-token="{{ csrf_token('Participation' ~ 'isConfirmed' ~ participation.pid ) }}"
                                data-button-enable-label="Bestätigen & benachrichtigen" data-button-enable-glyph="ok"
                                data-button-disable-label="Bestätigung zurücknehmen"
                                data-button-disable-glyph="remove">{{ 'option-horizontal'|glyph }}</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#dialogPriceConfiguration" data-aids="{{ participation.participantsIdList|join(';') }}" data-title="{{ participation|participantsgrouped(true) }}">
                            {{ 'credit-card'|glyph }}<span class="hidden-xs"> Zahlungsverwaltung</span>
                        </button>

                        <button type="button" class="btn btn-default" data-element="activebutton"
                                data-entity="Participation"
                                data-property="isPaid" data-entity-id="{{ participation.pid }}"
                                data-token="{{ csrf_token('Participation' ~ 'isPaid' ~ participation.pid ) }}"
                                data-button-enable-label="hat bezahlt" data-button-enable-glyph="euro"
                                data-button-disable-label="Bezahlung offen"
                                data-button-disable-glyph="remove">{{ 'option-horizontal'|glyph }}</button>
                        {% if participation.deletedAt %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="restore">
                                {{ 'repeat'|glyph }} wiederherstellen…
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#dialogModal" data-action="delete">
                                {{ 'trash'|glyph }} in Papierkorb…
                            </button>
                        {% endif %}
                    </div>
                </div>
                {% endif -%}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% include 'common/header/page-global-messages.html.twig' %}
            </div>
        </div>
        <div class="row print-col-sm-6 participation">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-7">
                                <h3 class="panel-title">Anmeldung</h3>
                            </div>
                            <div class="col-xs-5 text-right hidden-print">
                                {% if is_granted('participants_edit', event) -%}
                                <a href="{{ path('admin_edit_phonenumbers', {'eid': event.eid, 'pid': participation.pid}) }}"
                                   class="btn btn-default btn-xs" title="Telefonnummern bearbeiten"
                                   data-toggle="tooltip">{{ 'phone-alt'|glyph }}</a>
                                <a href="{{ path('admin_edit_participation', {'eid': event.eid, 'pid': participation.pid}) }}"
                                   class="btn btn-default btn-xs" title="Anmeldungsdaten bearbeiten"
                                   data-toggle="tooltip">{{ 'pencil'|glyph }}</a>
                                {% endif -%}
                                {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
                                <button title="Anmerkungen anzeigen und hinzufügen" class="btn btn-default btn-xs"
                                        type="button" data-toggle="collapse"
                                        data-target="#comment-footer-pid-{{ participation.pid }}" aria-expanded="false"
                                        aria-controls="comment-footer-pid-{{ participation.pid }}">
                                    <span class="comment-count"
                                          data-comment-class="AppBundle\Entity\ParticipationComment"
                                          data-related-id="{{ participation.pid }}">{{ commentManager.countForParticipation(participation) }}
                                    </span> {{ 'comment'|glyph }}
                                </button>
                                {% endif -%}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Anrede</dt>
                            <dd>{{ participation.salution }}</dd>
                            <dt>Vorname</dt>
                            <dd>{{ participation.nameFirst }}</dd>
                            <dt>Nachname</dt>
                            <dd>{{ participation.nameLast }}</dd>
                            <dt>Telefon</dt>
                            <dd class="phone-container">
                            {% for phoneNumber in participation.phoneNumbers %}
                                <div>
                                    <a href="tel:{{ phoneNumber.number|phone_number_format('INTERNATIONAL') }}">{{ phoneNumber.number|phone_number_format('INTERNATIONAL') }}</a>
                                    {% if phoneNumber.description %}
                                    <br>
                                    <i>{{ phoneNumber.description }}</i>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            </dd>
                            <dt>Anschrift</dt>
                            <dd class="address-container">
                                <address>
                                    <strong>{{ participation.getName() }}</strong><br>
                                    {{ participation.addressStreet }}<br>
                                    {{ participation.addressZip }} {{ participation.addressCity }}
                                </address>
                            </dd>
                            <dt>E-Mail Adresse</dt>
                            <dd class="address-container">
                                <address>
                                    {{ participation.email }}
                                </address>
                            </dd>
                            {% for fillout in participation.acquisitionAttributeFillouts %}
                                <dt title="{{ fillout.attribute.formDescription }}" data-toggle="tooltip"
                                    data-placement="right">
                                    {%- if not fillout.attribute.isPublic -%}
                                        {{ 'lock'|glyph('Dieses Feld wird nur intern und nicht in der öffentlichen Anmeldung angezeigt') }}
                                    {% endif %}
                                    {{ fillout.attribute.formTitle }}
                                </dt>
                                <dd>{{ fillout }}</dd>
                            {% endfor %}
                            <dt title="Eingang der Anmeldung" data-toggle="tooltip" data-placement="right">Eingang</dt>
                            <dd>{{ participation.createdAt|date("d.m.Y H:i") }}</dd>
                            <dt title="Ist die Anmeldung mit einem Benutzerkonto verknüpft, ist dieses hier angegeben"
                                data-toggle="tooltip" data-placement="right">
                                Benutzerkonto
                            </dt>
                            <dd>
                                {% if participation.assignedUser %}<a href="{{ path('user_detail', {'uid': participation.assignedUser.uid}) }}">
                                    {{ participation.assignedUser|fullname }}</a>
                                {% else %}
                                    <i>(keines)</i>
                                {% endif %}
                                {% if is_granted('participants_edit', event) -%}
                                <button data-toggle="modal" data-target="#dialogModalAssignUser"
                                        class="btn btn-default btn-xs"
                                        title="Benutzerkonto verknüpfen">{{ 'pencil'|glyph }}</button>
                                {% endif -%}
                            </dd>

                        </dl>
                    </div>
                    {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
                    <div class="panel-footer panel-comments collapse{% if commentManager.countForParticipation(participation) %} in{% endif %}" id="comment-footer-pid-{{ participation.pid }}">
                        {% if is_granted('comment_add', event) -%}
                            <div class="comment-add">
                                <button title="Neue Anmerkung hinzufügen" class="btn btn-xs btn-default btn-add-comment"
                                        data-toggle="modal" data-target="#dialogModalComment"
                                        data-comment-class="AppBundle\Entity\ParticipationComment"
                                        data-related-id="{{ participation.pid }}">{{ 'plus'|glyph }}</button>
                            </div>
                        {% endif -%}
                            <div class="comments" data-comment-class="AppBundle\Entity\ParticipationComment"
                                 data-related-id="{{ participation.pid }}">
                            {% if is_granted('comment_read', event) -%}
                                {% if not commentManager.countForParticipation(participation) %}
                                    <p class="empty">Keine Anmerkungen gespeichert.</p>
                                {% endif %}
                                {% for comment in commentManager.forParticipation(participation) %}
                                    {{ include('common/comment-content.html.twig', {comment: comment}) }}
                                {% endfor %}
                            {% else %}
                                <p>&nbsp;</p>
                            {% endif -%}
                        </div>
                    </div>
                    {% endif -%}
                </div>
            </div>
        {% if participation.participants.count > 1 %}
        </div>
        <div class="row print-col-sm-6">
        {% endif %}
            {% for participant in participation.participants %}
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3 class="panel-title"><span
                                                class="hidden-xs">Teilnehmer </span>{{ participant.nameFirst }}</h3>
                                </div>
                                <div class="col-xs-6 text-right hidden-print">
                                    {% if is_granted('participants_edit', event) -%}
                                    <a href="{{ path('admin_add_participant', {'eid': event.eid, 'pid': participation.pid}) }}"
                                       class="btn btn-default btn-xs" title="Neuen Teilnehmer hinzufügen"
                                       data-toggle="tooltip">{{ 'plus'|glyph }}</a>
                                    <button type="button" class="btn btn-default btn-xs" data-element="activebutton"
                                            data-entity="Participant"
                                            data-property="isWithdrawn" data-entity-id="{{ participant.aid }}"
                                            data-token="{{ csrf_token('Participant' ~ 'isWithdrawn' ~ participant.aid ) }}"
                                            data-button-enable-label="Anmeldung von {{ participant.nameFirst }} zurückziehen" data-button-enable-glyph="share-alt"
                                            data-button-disable-label="Anmeldung von {{ participant.nameFirst }} reaktivieren"
                                            data-button-disable-glyph="retweet">{{ 'option-horizontal'|glyph }}</button>
                                    <a href="{{ path('admin_edit_participant', {'eid': event.eid, 'pid': participation.pid, 'aid': participant.aid}) }}"
                                       class="btn btn-default btn-xs" title="Teilnehmer {{ participant.nameFirst }} bearbeiten" data-toggle="tooltip">{{ 'pencil'|glyph }}</a>
                                    {% endif -%}
                                    {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
                                    <button class="btn btn-default btn-xs" type="button" data-toggle="collapse"
                                            data-target="#comment-footer-aid-{{ participant.aid }}" aria-expanded="false"
                                            aria-controls="comment-footer-aid-{{ participant.aid }}">
                                        <span class="comment-count"
                                          data-comment-class="AppBundle\Entity\ParticipantComment"
                                          data-related-id="{{ participant.aid }}">{{ commentManager.countForParticipant(participant) }}
                                    </span> {{ 'comment'|glyph }}</button>
                                    {% endif -%}
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row" id="participant-{{ loop.index }}">
                                <div class="col-xs-12">
                                    <dl class="dl-horizontal">
                                        <dt>Vorname</dt>
                                        <dd>{{ participant.nameFirst }}</dd>
                                        <dt>Nachname</dt>
                                        <dd>{{ participant.nameLast }}</dd>
                                        <dt>Geschlecht</dt>
                                        <dd>{{ participant.getGender(true) }}</dd>
                                        <dt>Geburtsdatum</dt>
                                        <dd>
                                            {{ participant.getBirthday|date("d.m.Y") }}
                                            {% if (participant.hasBirthdayAtEvent) %}
                                                {{ 'gift'|glyph }}
                                            {% endif %}
                                        </dd>
                                        <dt>Alter</dt>
                                        <dd>{{ participant.getAgeAtEvent|number_format(1) }} Jahre bei der
                                            Veranstaltung
                                        </dd>
                                        <dt>Ernährung</dt>
                                        <dd>
                                            {% set participantFood = participant.getFood(true) %}
                                            {% if participantFood.getValue() %}
                                                {{ ' '|bitmask(participantFood) }}
                                            {% else %}
                                                <i>(keine Besonderheiten)</i>
                                            {% endif %}
                                        </dd>
                                        <dt>Medizinische Hinweise</dt>
                                        <dd>
                                            {% if participant.infoMedical %}
                                                {{ participant.infoMedical }}
                                            {% else %}
                                                <i>(keine Besonderheiten)</i>
                                            {% endif %}
                                        </dd>
                                        <dt>Allgemeine Hinweise</dt>
                                        <dd>
                                            {% if participant.infoGeneral %}
                                                {{ participant.infoGeneral }}
                                            {% else %}
                                                <i>(keine Besonderheiten)</i>
                                            {% endif %}
                                        </dd>
                                        {% if event.price %}
                                            <dt>Preis</dt>
                                            <dd>
                                                {% set toPay = null %}
                                                {% if participant.price %}
                                                    {{ participant.price(true)|number_format(2) }} €
                                                    {% set toPay = paymentManager.toPayValueForParticipant(participant, true) %}
                                                    {% if toPay > 0 %}
                                                        (noch zu zahlen: {{ toPay|number_format(2) }} €)
                                                    {% elseif toPay < 0 %}
                                                        (zu viel bezahlt: {{ (toPay*-1)|number_format(2) }} €)
                                                    {% elseif toPay is same as( 0 ) %}
                                                        (bezahlt)
                                                    {% endif %}
                                                {% else %}
                                                    <i>(keiner festgelegt)</i>
                                                {% endif %}
                                                {% if is_granted('participants_edit', event) -%}
                                                    <button data-toggle="modal"
                                                            data-target="#dialogPriceConfiguration"
                                                            data-aids="{{ participant.aid }}"
                                                            data-title="{{ participant|fullname }}"
                                                            class="btn btn-default btn-xs"
                                                            title="Preis festlegen/Zahlung erfassen">{{ 'euro'|glyph }}</button>
                                                {% endif -%}
                                                {% if toPay is defined %}
                                                    {% if toPay < 0 %}
                                                        <span class="label label-info option-2">überzahlt</span>
                                                    {% elseif toPay is same as( 0 ) %}
                                                        <span class="label label-info option-2">bezahlt</span>
                                                    {% endif %}
                                                {% endif %}
                                            </dd>
                                        {% endif -%}
                                        {% for fillout in participant.acquisitionAttributeFillouts %}
                                            <dt title="{{ fillout.attribute.formDescription }}" data-toggle="tooltip"
                                                data-placement="right">
                                                {%- if not fillout.attribute.isPublic -%}
                                                    {{ 'lock'|glyph('Dieses Feld wird nur intern und nicht in der öffentlichen Anmeldung angezeigt') }}
                                                {% endif %}
                                                {{ fillout.attribute.formTitle }}
                                            </dt>
                                            <dd>{{ fillout }}</dd>
                                        {% endfor %}
                                        <dt>Weitere Teilnahmen</dt>
                                        <dd>
                                            {% if similarParticipants[participant.aid]|length == 0 %}
                                                <i>(keine Teilnahmen bei anderen Veranstaltungen)</i>
                                            {% endif %}
                                            {% for relatedParticipant in similarParticipants[participant.aid] %}
                                                <a data-toggle="tooltip"
                                                   title="Veranstaltung: {{ relatedParticipant.participation.event.startDate|date("d.m.Y") }}, Angemeldet: {{ relatedParticipant.participation.createdAt|date("d.m.Y h:i") }}"
                                                   href="{{ path('event_participation_detail', {eid: relatedParticipant.participation.event.eid, pid: relatedParticipant.participation.pid}) }}">{{ relatedParticipant.participation.event.title }}</a>{% if not loop.last and loop.length > 1 %}, {% endif %}
                                            {% endfor %}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-xs-12 status-label-list">
                                {{ ' '|bitmask(participant.getStatus(true), statusFormatter) }}
                            </div>
                        </div>
                        {% if is_granted('comment_add', event) or is_granted('comment_read', event) -%}
                        <div class="panel-footer panel-comments collapse{% if commentManager.countForParticipant(participant) %} in{% endif %}"
                             id="comment-footer-aid-{{ participant.aid }}">
                            {% if is_granted('comment_add', event) -%}
                            <div class="comment-add">
                                <button title="Neue Anmerkung hinzufügen" class="btn btn-xs btn-default btn-add-comment"
                                        data-toggle="modal" data-target="#dialogModalComment"
                                        data-comment-class="AppBundle\Entity\ParticipantComment"
                                        data-related-id="{{ participant.aid }}">{{ 'plus'|glyph }}</button>
                            </div>
                            {% endif -%}
                            <div class="comments" data-comment-class="AppBundle\Entity\ParticipantComment"
                                 data-related-id="{{ participant.aid }}">
                                {% if is_granted('comment_read', event) -%}
                                    {% if not commentManager.countForParticipant(participant) %}
                                        <p class="empty">Keine Anmerkungen gespeichert.</p>
                                    {% endif %}
                                    {% for comment in commentManager.forParticipant(participant) %}
                                        {{ include('common/comment-content.html.twig', {comment: comment}) }}
                                    {% endfor %}
                                {% else %}
                                    <p>&nbsp;</p>
                                {% endif -%}
                            </div>
                        </div>
                        {% endif -%}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascriptCustom %}
    {% cspscript %}
    <script type='text/javascript'>
        jQuery(document).ready(function () {
            $('#dialogModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget),
                        action = button.data('action'),
                        modal = $(this),
                        title,
                        question;

                switch (action) {
                    case 'delete':
                        title = 'Anmeldung in Papierkorb verschieben';
                        question = 'Soll diese Anmeldung wirklich in den Papierkorb verschoben werden?';
                        break;
                    case 'restore':
                        title = 'Anmeldung aus Papierkorb nehmen';
                        question = 'Soll diese Anmeldung wirklich aus dem Papierkorb herausgeholt werden?';
                        break;
                    case 'withdraw':
                        title = 'Anmeldung zurückziehen';
                        question = 'Soll diese Anmeldung wirklich zurückgezogen werden?';
                        break;
                    case 'reactivate':
                        title = 'Anmeldung reaktivieren';
                        question = 'Soll diese zurückgezogene Anmeldung wirklich wieder aktiviert werden werden?';
                        break;
                    case 'reject':
                        title = 'Anmeldung ablehnen';
                        question = 'Soll diese Anmeldung wirklich abgelehnt werden? Bei einer Ablehung sollten die Eltern informiert werden.';
                        break;
                    case 'rereject':
                        title = 'Ablehnung zurückziehen';
                        question = 'Soll der "abgelehnt" Status wirklich zurückgenommen werden?';
                        break;
                }
                modal.find('.modal-title').text(title);
                modal.find('.modal-body > p').text(question);
                modal.find('input[name="form[action]"]').val(action);
            });
            $('[data-property="isConfirmed"]').on('juvem.activeButton.success', function (event, button, response) {
                if (response.value !== null) {
                    $('.status-label-list .option-{{ constant('AppBundle\\BitMask\\ParticipantStatus::TYPE_STATUS_CONFIRMED') }}').each(function (i, el) {
                        el = $(el);
                        if (response.value) {
                            el.text('bestätigt');
                            el.addClass('label-primary');
                            el.removeClass('label-default');
                        } else {
                            el.text('unbestätigt');
                            el.addClass('label-default');
                            el.removeClass('label-primary');
                        }
                    });
                    if (response.value) {
                        $(button).html('{{ 'ok'|glyph }} Bestätigung <i>(E-Mail wird versandt...)</i>');
                        $(button).addClass('disabled');
                        $.ajax({
                            type: 'POST',
                            url: '{{ path('event_participation_confirm_mail') }}',
                            data: {
                                _token: '{{ csrf_token(participation.pid) }}',
                                pid: '{{ participation.pid }}'
                            },
                            datatype: 'json',
                            success: function (response) {
                                $(document).trigger('add-alerts', {
                                    message: 'Die Eltern wurden per E-Mail über die Bestätigung benachrichtigt.',
                                    priority: 'success'
                                });
                            },
                            error: function (response) {
                                $(document).trigger('add-alerts', {
                                    message: 'Beim Versenden der E-Mail Benachrichtigung ist ein Fehler aufgetreten!',
                                    priority: 'error'
                                });
                            },
                            complete: function (response) {
                                $(button).html('{{ 'remove'|glyph }} Bestätigung zurücknehmen');
                                $(button).removeClass('disabled');
                            }
                        });
                    }
                }
            });
            $('[data-property="isPaid"]').on('juvem.activeButton.success', function (event, button, response) {
                if (response.value !== null) {
                    if (response.value) {
                        $('.status-label-list').append('<span class="label label-info option-{{ constant('AppBundle\\BitMask\\ParticipantStatus::TYPE_STATUS_PAID') }}">{{ constant('AppBundle\\BitMask\\ParticipantStatus::LABEL_STATUS_PAID') }}</span>');
                    } else {
                        $('.status-label-list .option-{{ constant('AppBundle\\BitMask\\ParticipantStatus::TYPE_STATUS_PAID') }}').remove();
                    }
                }
            });
        });
    </script>
    {% endcspscript %}
{% endblock %}