<!DOCTYPE html>
<html lang="de">
<head>
    <title>Teilnehmer ({{ event.title }}) - {{ appTitle }}</title>
    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="{{ asset('css/print.css', 'css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ asset('css/print.min.css', 'css') }}">
    {% endif %}
    <style>
        body, html {
            background: white;
        }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ themeColor }}">
    <meta name="theme-color" content="{{ themeColor }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="print-page">
{% for participant in participants %}
    <div class="container">
        {% if type == 'print' %}
        <div class="row participant-title">
            <div class="col-xs-12">
                <div class="horizontal">
                    <h3>
                        {{ participant.nameLast }}<br> {{ participant.nameFirst }}
                    </h3>
                    <h4>
                        {{ event.title }} {{ event.startDate.format('Y') }}
                    </h4>
                    <div class="qrcode">
                        {{ barcode({code: url('event_participation_detail', {eid: event.eid, pid: participant.participation.pid}), type: 'qrcode', format: 'html', width: 8, height: 8}) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="vertical">
                    <div class="vertical-rotated">
                        <h3>
                            {{ participant.nameLast }}<br> {{ participant.nameFirst }}
                        </h3>
                        <h4>
                            {{ event.title }} {{ event.startDate.format('Y') }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li>{{ appTitle }}</li>
                    <li>{{ event.title }} {{ event.startDate.format('Y') }}</li>
                    <li class="active">{{ participant.nameLast }}, {{ participant.nameFirst }}</li>
                </ol>
            </div>
        </div>
        <div class="participant">
        <div class="row">
            <div class="col-xs-3">
                <h3>{% if participant.gender == constant('AppBundle\\Entity\\Participant::TYPE_GENDER_FEMALE') %}Teilnehmerin{% else %}Teilnehmer{% endif %}</h3>
            </div>
            <div class="col-xs-9">
                <div class="status-label-list">
                    {{ ' '|bitmask(participant.getStatus(true), statusFormatter) }}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3">
                        <dl>
                            <dt>Vorname</dt>
                            <dd>{{ participant.nameFirst }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-3">
                        <dl>
                            <dt>Nachname</dt>
                            <dd>{{ participant.nameLast }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-2">
                        <dl>
                            <dt>Geschlecht</dt>
                            <dd>{{ participant.getGender(true) }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-4">
                        <dl>
                            <dt>Geburtsdatum</dt>
                            <dd>
                                {{ participant.getBirthday|date("d.m.Y") }}{% if (participant.hasBirthdayAtEvent) %}{{ 'gift'|glyph }}{% endif %}
                                &bull;
                                {{ participant.getAgeAtEvent|number_format(1) }} Jahre
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="grid">
                        {#<div class="grid-sizer col-xs-4"></div>#}
                        <div class="grid-item col-xs-4">
                            <div class="grid-item-content">
                                <dl>
                                    <dt>Medizinische Hinweise</dt>
                                    <dd>
                                        {% if participant.infoMedical %}
                                            {{ participant.infoMedical }}
                                        {% else %}
                                            <i>(keine Besonderheiten)</i>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="grid-item col-xs-4">
                            <div class="grid-item-content">
                                <dl>
                                    <dt>Allgemeine Hinweise</dt>
                                    <dd>
                                        {% if participant.infoGeneral %}
                                            {{ participant.infoGeneral }}
                                        {% else %}
                                            <i>(keine Besonderheiten)</i>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="grid-item col-xs-4">
                            <div class="grid-item-content">
                                <dl class="food">
                                    <dt>Ernährung</dt>
                                    <dd>
                                        {% set participantFood = participant.getFood(true) %}
                                        {% if participantFood.getValue() %}
                                            {{ ' '|bitmask(participantFood) }}
                                        {% else %}
                                            <i>(keine Besonderheiten)</i>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        {% for fillout in participant.acquisitionAttributeFillouts %}
                            <div class="grid-item col-xs-4">
                                <div class="grid-item-content">
                                    <dl>
                                        <dt>
                                        <div class="title">{{ fillout.attribute.formTitle }}</div>
                                        <div class="description">{{ fillout.attribute.managementDescription }}</div>
                                        </dt>
                                        <dd>
                                            {% if fillout is empty %}
                                                <i>(keine Angabe)</i>
                                            {% else %}
                                                {{ fillout }}
                                            {% endif %}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row participation">
                    <div class="col-xs-12">
                        <h3>Anmeldung</h3>
                    </div>
                    <div class="col-xs-5">
                        <dl class="dl-horizontal">
                            <dt>Anschrift</dt>
                            <dd class="address-container">
                                <address>
                                    {{ participant.participation.salution }}
                                    <strong>{{ participant.participation.getName() }}</strong><br>
                                    {{ participant.participation.addressStreet }}<br>
                                    {{ participant.participation.addressZip }} {{ participant.participation.addressCity }}
                                </address>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-xs-4">
                        <dl>
                            <dt>E-Mail Adresse</dt>
                            <dd class="address-container">
                                <address>
                                    {{ participant.participation.email }}
                                </address>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-xs-3">
                        <dl>
                            <dt>Eingang</dt>
                            <dd>{{ participant.participation.createdAt|date("d.m.Y H:i") }}</dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="grid">
                        {#<div class="grid-sizer col-xs-4"></div>#}
                            {% for fillout in participant.participation.acquisitionAttributeFillouts %}
                            <div class="grid-item col-xs-4">
                                <div class="grid-item-content">
                                    <dl>
                                        <dt>
                                            <div class="title">{{ fillout.attribute.formTitle }}</div>
                                            <div class="description">{{ fillout.attribute.managementDescription }}</div>
                                        </dt>
                                        <dd>
                                            {% if fillout is empty %}
                                                <i>(keine Angabe)</i>
                                            {% else %}
                                                {{ fillout }}
                                            {% endif %}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                    <div class="col-xs-12">
                        <dt>
                        <div class="title">Telefon</div>
                        </dt>
                        <dd class="phone-container">
                            <div class="row">
                                {% for phoneNumber in participant.participation.phoneNumbers %}
                                    <div class="col-xs-4">
                                        <div class="qrcode">
                                            {{ barcode({code: 'tel:' ~ phoneNumber.number|phone_number_format('INTERNATIONAL')|replace({' ': ''}), type: 'qrcode', format: 'html', width: 3, height: 3}) }}
                                        </div>
                                        <div class="text">
                                            {{ phoneNumber.number|phone_number_format('INTERNATIONAL') }}
                                            {% if phoneNumber.description %}
                                                <br>
                                                <i>{{ phoneNumber.description }}</i>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </dd>
                    </div>
                    <div class="col-xs-12">
                        <h3>Anmerkungen</h3>
                        <div class="row" id="comments-list">
                            {% if not commentManager.countForParticipation(participant.participation) and not commentManager.countForParticipant(participant) %}
                                <div class="col-xs-12">
                                    <p class="empty">Keine Anmerkungen gespeichert.</p>
                                </div>
                            {% endif %}
                            <div class="grid">
                                {#<div class="grid-sizer col-xs-6"></div>#}
                                {% for comment in commentManager.forParticipation(participant.participation) %}
                                <div class="grid-item col-xs-6">
                                    <div class="grid-item-content">
                                    <div class="content">
                                        {{ comment.content|markdown }}
                                    </div>
                                    <p class="meta">
                                        <i>{{ app.user.fullname(comment.createdBy.nameLast, comment.createdBy.nameFirst) }}</i>
                                        <span>{{ comment.createdAt|date("d.m.Y h:i") }}</span>{% if comment.modifiedAt %},
                                        geändert von
                                        <i>{{ app.user.fullname(comment.modifiedBy.nameLast, comment.modifiedBy.nameFirst) }}</i>
                                        <span>{{ comment.modifiedAt|date("d.m.Y h:i") }}</span>{% endif %}{% if comment.deletedAt %},
                                            gelöscht <span>{{ comment.deletedAt|date("d.m.Y h:i") }}</span>
                                        {% endif %}
                                        zur Anmeldung
                                    </p>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for comment in commentManager.forParticipant(participant) %}
                                <div class="grid-item col-xs-6">
                                    <div class="grid-item-content">
                                    <div class="content">
                                        {{ comment.content|markdown }}
                                    </div>
                                    <p class="meta">
                                        <i>{{ app.user.fullname(comment.createdBy.nameLast, comment.createdBy.nameFirst) }}</i>
                                        <span>{{ comment.createdAt|date("d.m.Y h:i") }}</span>{% if comment.modifiedAt %},
                                        geändert von
                                        <i>{{ app.user.fullname(comment.modifiedBy.nameLast, comment.modifiedBy.nameFirst) }}</i>
                                        <span>{{ comment.modifiedAt|date("d.m.Y h:i") }}</span>{% endif %}{% if comment.deletedAt %},
                                            gelöscht <span>{{ comment.deletedAt|date("d.m.Y h:i") }}</span>
                                        {% endif %}
                                        {% if participant.gender == constant('AppBundle\\Entity\\Participant::TYPE_GENDER_FEMALE') %}zur Teilnehmerin{% else %}zum Teilnehmer{% endif %}
                                    </p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="participant-end">
        </div>
    </div>
{% endfor %}

{% block javascriptMain %}
    {% if app.environment == 'dev' %}
        <script src="{{ asset('js/all.js', 'js') }}"></script>
    {% else %}
        <script src="{{ asset('js/all.min.js', 'js') }}" integrity="sha256-{{ assetJsIntegrity }}"></script>
    {% endif %}
{% endblock %}
    {% cspscript %}
    <script type='text/javascript'>
        {#
        $('.grid').masonry({
            itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
            columnWidth: '.grid-sizer',
            percentPosition: true
        });
        #}
        $(document).ready(function () {
            window.print();
        });
    </script>
    {% endcspscript %}
</body>
</html>
