<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% block title %}{% endblock %} - Juvem</title>
    {% block stylesheets %}{% endblock %}

    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="{{ asset('css/all.css') }}">
        <script src="{{ asset('js/all.js') }}"></script>
        <script src="//localhost:35729/livereload.js"></script>
    {% else %}
    <link rel="stylesheet" href="{{ asset('css/all.min.css') }}?v4">
        <script src="{{ asset('js/all.min.js') }}?v4"></script>
    {% endif %}

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=3">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=3">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=3">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=3">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=3">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=3">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=3">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=3">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=3">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=3" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png?v=3" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png?v=3" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=3" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=3" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=3">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=3" color="#e9b003">
    <link rel="shortcut icon" href="/favicon.ico?v=3">
    <meta name="msapplication-TileColor" content="#e9b003">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=3">
    <meta name="theme-color" content="#e9b003">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="page">
    <div id="page-navigation">
        {% include 'navigation.html.twig' %}
    </div>
    <div id="page-body">
        {% block body %}{% endblock %}
    </div>
    <div id="page-footer">
        {% if app.user is null %}
            {% include 'common/footer/public.html.twig' %}
        {% elseif is_granted('ROLE_ADMIN') %}
            {% include 'common/footer/admin.html.twig' %}
        {% else %}
            {% include 'common/footer/registered.html.twig' %}
        {% endif %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
