{% block nav %}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Menü anzeigen</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('homepage') }}" title="Jugendwerks-Veranstaltungs-Manager Evangelisches Jugendwerk Stuttgart-Vaihingen">
        <img alt="Juvem" title="Evangelisches Jugendwerk Stuttgart-Vaihingen" src="{{ asset('favicon-96x96.png') }}" height="45" width="45">
      </a>
    </div>
  </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
            {{ knp_menu_render('AppBundle:Builder:authenticationMenu') }}
        </div>
    </div>
</nav>
{% endblock %}
