{% extends 'base.html.twig' %}

{% block title %}Anwesenheitslisten Spalte anlegen{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Anwesenheitslisten', 'subtitle': 'Spalte anlegen'} %}
        {% block breadcrumb %}
            <li>Anwesenheitslisten</li>
            <li><a href="{{ path('attendance_column_list') }}">Spalten verwalten</a></li>
            <li class="active">Spalte anlegen</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        {% include '/attendance/form.html.twig' with {'form': form, submitTitle: 'Spalte anlegen'} %}
    </div>
{% endblock %}
