$brandPrimaryLight: #fce63b;
$brandPrimaryDark: #fcc214;
$brandSecondary: #fb793d;

//navbar
$navbar-inverse-color: #222;
$navbar-inverse-bg: $brandPrimaryDark;
$navbar-inverse-border: $brandPrimaryDark;
$navbar-inverse-link-color: lighten($navbar-inverse-color, 5%);
$navbar-inverse-link-hover-color: darken($navbar-inverse-color, 25%);
$navbar-inverse-link-active-color: darken($navbar-inverse-link-hover-color, 4%);
$navbar-inverse-brand-hover-color: darken($navbar-inverse-link-hover-color, 4%);
$navbar-inverse-toggle-icon-bar-bg: lighten($navbar-inverse-color, 10%);
$navbar-inverse-link-hover-bg: lighten($navbar-inverse-bg, 10%);


//breadcrumb
$breadcrumb-bg: lighten($brandPrimaryDark, 42%);
$breadcrumb-color: #222;
$breadcrumb-active-color: lighten($breadcrumb-color, 10%);

.breadcrumb {
  a {
    color: darken($brandPrimaryDark, 25%);
  }
  a:hover {
    color: darken($brandPrimaryDark, 15%);
  }
}

//footer
$footerFgColor: #222222;