imports:
    - { resource: parameters_defaults.yml }
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: version.php }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: de
    app.database.configuration.path: "%kernel.project_dir%/app/config/.my.cnf"
    app.tmp.root.path: "%kernel.project_dir%/var/tmp"
    app.cache.root.path: "%kernel.project_dir%/var/cache"
    app.cache.environment.path: "%app.cache.root.path%/%kernel.environment%"
    app.cache.nominatim_last_access.path: "%app.cache.environment.path%/nominatim_last_access"
    app.web.root.path: "%kernel.project_dir%/web"
    app.data.root.path: "%kernel.project_dir%/var/data"
    app.data.invoice.path: "%app.data.root.path%/invoice"

jms_serializer:
    metadata:
        directories:
            FOSUserBundle:
                namespace_prefix: FOS\UserBundle
                path: "%kernel.project_dir%/app/config/serializer/FOSUserBundle"
            AppBundle:
                namespace_prefix: AppBundle
                path: "%kernel.project_dir%/app/config/serializer/AppBundle"

framework:
    assets:
        version: "%app.version%"
        version_format: "%%s?%%s"
        packages:
            js:
                version: "%app.version.hash.js%"
                version_format: "%%s?h%%s"
            css:
                version: "%app.version.hash.css%"
                version_format: "%%s?h%%s"
            img:
                version: "%app.version.hash.css%"
                version_format: "%%s?h%%s"
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.project_dir%/app/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:       { enabled: true, enable_annotations: true }
    #serializer:      { enable_annotations: true }
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
        name: 's'
    fragments:       ~
    http_method_override: true

sensio_framework_extra:
    router:
        annotations: false

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
        # resources: ['bootstrap_3_horizontal_layout.html.twig']
    form_themes:
        - bootstrap_3_layout.html.twig
        - form/vich-fields.html.twig
    date:
        format: d.m.Y, H:i:s
        interval_format: '%%d Tage'
        timezone: Europe/Berlin
    number_format:
        decimals: 2
        decimal_point: ','
        thousands_separator: '.'
    globals:
        version: "%app.version%"
        appTitle: "%customization.app_title%"
        assetJsIntegrity: "%app.version.integrity.js%"
        assetJsVisIntegrity: "%app.version.integrity.js-vis%"
        customization: "@app.twig_global_customization"
        kernelRootDir: "%kernel.project_dir%/app"
        featureNewsletter: "%feature.newsletter%"
        featurePdfConversion: "%app.libreoffice_binary_path%"
        themeColor: "%customization.theme_color%"
        localhostInformationProvider: '@AppBundle\LocalhostInformationProvider'
        secureCacheDecider: '@app.secure_cache_decider'
        tab: '@app.twig_tab_index_skip'
    default_path: '%kernel.project_dir%/app/templates'
    paths:
        '%kernel.project_dir%/config/templates': customization
    exception_controller: ~

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        mapping_types:
            enum: string
        types:
            phone_number: Misd\PhoneNumberBundle\Doctrine\DBAL\Types\PhoneNumberType

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        entity_managers:
            default:
                dql:
                    numeric_functions:
                        FLOOR: AppBundle\Query\MysqlFloor
                        ROUND: AppBundle\Query\MysqlRound
                    datetime_functions:
                        CURDATE: AppBundle\Query\MysqlCurDate
                        DATEDIFF: AppBundle\Query\MysqlDateDiff
                naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
                auto_mapping: true
                filters:
                    softdeleteable:
                        class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                        enabled: false

stof_doctrine_extensions:
    default_locale: en_US
    orm:
        default:
            softdeleteable: true

doctrine_migrations:
    migrations_paths:
        'Application\Migrations': "%kernel.project_dir%/app/Migrations"
    organize_migrations: false
    storage:
        table_storage:
            table_name: migration_versions

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

vich_uploader:
    db_driver: orm
    mappings:
        event_image:
            uri_prefix:         /uploads/event
            upload_destination: "%kernel.project_dir%/data/uploads/event"
            namer:              vich_uploader.namer_uniqid
            inject_on_load:     false
            delete_on_update:   true
            delete_on_remove:   true
        gallery_image:
            uri_prefix:         /uploads/gallery
            upload_destination: "%kernel.project_dir%/data/uploads/gallery"
            namer:              vich_uploader.namer_uniqid
            inject_on_load:     false
            delete_on_update:   true
            delete_on_remove:   true
        invoice_template:
            uri_prefix:         /uploads/invoice_template
            upload_destination: "%kernel.project_dir%/data/uploads/invoice_template"
            namer:              vich_uploader.namer_uniqid
            inject_on_load:     true
            delete_on_update:   true
            delete_on_remove:   true

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User
    from_email:
        address:        "%mailer_address%"
        sender_name:    "%customization.organization_name%"
    registration:
        form:
            type: AppBundle\Form\UserRegistrationFormType
            validation_groups: [AppBundleRegistration]
        confirmation:
            enabled: true
#            email:
#                template: mail/user/register_confirmation.email.twig
    resetting:
        email:
            template: mail/user/password_resetting.email.twig
    profile:
        form:
            type: AppBundle\Form\UserProfileFormType
            validation_groups: [AppBundleProfile]
    service:
        mailer: fos_user.mailer.twig_swift
