imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: version.php }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: de
    app.database.configuration.path: "%kernel.root_dir%/config/.my.cnf"
    app.tmp.root.path: "%kernel.root_dir%/../tmp"
    app.web.root.path: "%kernel.root_dir%/../web"
    app.data.root.path: "%kernel.root_dir%/../data"
    app.data.invoice.path: "%app.data.root.path%/invoice"

jms_serializer:
    metadata:
        directories:
            FOSUserBundle:
                namespace_prefix: FOS\UserBundle
                path: "%kernel.root_dir%/config/serializer/FOSUserBundle"
            AppBundle:
                namespace_prefix: AppBundle
                path: "%kernel.root_dir%/config/serializer/AppBundle"

framework:
    assets:
        version: "%app.version%"
        version_format: "%%s?%%s"
        packages:
            js:
                version: "%app.version.hash.js%"
                version_format: "%%s?h%%s"
            css:
                version: "%app.version.hash.css%"
                version_format: "%%s?h%%s"
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:       { enabled: true, enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
        name: 's'
    fragments:       ~
    http_method_override: true

sensio_framework_extra:
    router:
        annotations: false

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
        # resources: ['bootstrap_3_horizontal_layout.html.twig']
    exception_controller: app.exception_controller:showAction
    form_themes:
        - bootstrap_3_layout.html.twig
        - form/vich-fields.html.twig
    date:
        format: d.m.Y, H:i:s
        interval_format: '%%d Tage'
        timezone: Europe/Berlin
    number_format:
        decimals: 2
        decimal_point: ','
        thousands_separator: '.'
    globals:
        version: "%app.version%"
        appTitle: "%customization.app_title%"
        assetJsIntegrity: "%app.version.integrity.js%"
        customization: "@app.twig_global_customization"
        kernelRootDir: "%kernel.root_dir%"
        featureNewsletter: "%feature.newsletter%"
        themeColor: "%customization.theme_color%"
        localhostInformationProvider: '@AppBundle\LocalhostInformationProvider'
        secureCacheDecider: '@app.secure_cache_decider'
        tab: '@app.twig_tab_index_skip'

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"
        types:
            phone_number: Misd\PhoneNumberBundle\Doctrine\DBAL\Types\PhoneNumberType

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        dql:
            numeric_functions:
                FLOOR: AppBundle\Query\MysqlFloor
            datetime_functions:
                CURDATE: AppBundle\Query\MysqlCurDate
                DATEDIFF: AppBundle\Query\MysqlDateDiff

doctrine_migrations:
    dir_name: "%kernel.root_dir%/Migrations"
    namespace: Application\Migrations
    table_name: migration_versions
    name: Juvem Migrations
    organize_migrations: false

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

vich_uploader:
    db_driver: orm
    mappings:
        event_image:
            uri_prefix:         /uploads/event
            upload_destination: "%kernel.root_dir%/../data/uploads/event"
            namer:              vich_uploader.namer_uniqid
            inject_on_load:     false
            delete_on_update:   true
            delete_on_remove:   true
        gallery_image:
            uri_prefix:         /uploads/gallery
            upload_destination: "%kernel.root_dir%/../data/uploads/gallery"
            namer:              vich_uploader.namer_uniqid
            inject_on_load:     false
            delete_on_update:   true
            delete_on_remove:   true
        invoice_template:
            uri_prefix:         /uploads/invoice_template
            upload_destination: "%kernel.root_dir%/../data/uploads/invoice_template"
            namer:              vich_uploader.namer_uniqid
            inject_on_load:     true
            delete_on_update:   true
            delete_on_remove:   true

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User
    from_email:
        address:        "%mailer_user%"
        sender_name:    "%customization.organization_name%"
    registration:
        form:
            type: AppBundle\Form\UserRegistrationFormType
            validation_groups: [AppBundleRegistration]
        confirmation:
            enabled: true
#            email:
#                template: mail/user/register_confirmation.email.twig
    resetting:
        email:
            template: mail/user/password_resetting.email.twig
    profile:
        form:
            type: AppBundle\Form\UserProfileFormType
            validation_groups: [AppBundleProfile]
    service:
        mailer: fos_user.mailer.twig_swift
