# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     '127.0.0.1'
    database_port:     ~
    database_name:     juvem
    database_user:     root
    database_password: juvem
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_address:    'noreply@example.com'
    mailer_host:       '127.0.0.1'
    mailer_user:       ''
    mailer_password:   ''
    mailer_admin:      ''

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # A secret key thats can be used to call the cron urls
    cron_secret: 3bc5321e96ee8b50967e6796b9eb9f05d466762265e53e

    customization.app_title: ~
    customization.theme_color: ~
    customization.organization_name: "Juvem Organisation"
    customization.organization_address_street: ~
    customization.organization_address_postal_code: ~
    customization.organization_address_postal_locality: ~
    customization.organization_number_phone: ~
    customization.organization_number_fax: ~
    customization.organization_email: ~
    customization.privacy_responsible: ~
    customization.organization_website: ~
    customization.organization_facebook: ~
    customization.juvem_website: ~
    customization.logo_website: ~

    juvimg.url: ~
    juvimg.password: ~

    nextcloud.base_uri: ~
    nextcloud.username: ~
    nextcloud.password: ~
    nextcloud.folder: ~
    nextcloud.management: ~

    calendar.base_uri: null 
    calendar.username: null
    calendar.password: null

    app.libreoffice_binary_path: ~
    app.geo.openweathermap.api_key: ~

    # Website host address should be defined in order to be able to generate links from console
    # router.request_context.host: ~
    # Scheme should be defined in order to be able to generate links from console
    # router.request_context.scheme: ~

    # Set to true to enable newsletter feature
    feature.newsletter: true
