# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
    _defaults:
        public: false
        autowire: true
        autoconfigure: true

    app.twig_extension_glyph:
        class: AppBundle\Twig\Extension\BootstrapGlyph
        public: false
        tags:
            - { name: twig.extension }
    app.twig_extension_bootstrap_table_filter:
        class: AppBundle\Twig\Extension\BootstrapTableFilter
        public: false
        tags:
            - { name: twig.extension }
    app.twig_extension_bitmask:
        class: AppBundle\Twig\Extension\BitMask
        public: false
        tags:
            - { name: twig.extension }
    app.twig_extension_fullname:
        class: AppBundle\Twig\Extension\Fullname
        public: false
        tags:
            - { name: twig.extension }
    app.twig_extension_is_instanceof:
        class: AppBundle\Twig\Extension\IsInstanceof
        public: false
        tags:
            - { name: twig.extension }
    app.twig_extension_heading_shifting_markdown:
        class: AppBundle\Twig\Extension\HeadingShiftingMarkdownTwigExtension
        arguments:
            - '@markdown.parser.parser_manager'
        public: false
        tags:
            - { name: twig.extension }
    app.participantsgrouped:
        class: AppBundle\Twig\Extension\ParticipationsParticipantsNamesGrouped
        public: false
        tags:
            - { name: twig.extension }
    app.eventdates:
        class: AppBundle\Twig\Extension\EventDates
        public: false
        tags:
            - { name: twig.extension }
    app.twig_extension_payment:
        class: AppBundle\Twig\Extension\PaymentInformation
        public: false
        tags:
            - { name: twig.extension }

    app.twig_global_customization:
        alias: AppBundle\Twig\GlobalCustomization
    AppBundle\Twig\GlobalCustomization:
        arguments:
            - '@twig'
            - '%kernel.root_dir%'
            - '%customization.app_title%'
            - '%customization.organization_name%'
            - '%customization.organization_address_street%'
            - '%customization.organization_address_postal_code%'
            - '%customization.organization_address_postal_locality%'
            - '%customization.organization_number_phone%'
            - '%customization.organization_number_fax%'
            - '%customization.organization_email%'
            - '%customization.privacy_responsible%'
            - '%customization.organization_website%'
            - '%customization.organization_facebook%'
            - '%customization.juvem_website%'
            - '%customization.logo_website%'
        public: true
        lazy: true

    app.secure_cache_decider:
        class: AppBundle\Twig\SecureCacheDecider
        arguments: ['@session']
        public: true
    app.twig_tab_index_skip:
        class: AppBundle\Twig\TabIndexSkip
        public: false
        arguments:
            - '@security.token_storage'
        lazy: true

    app.twig_mail_generator:
        alias: AppBundle\Twig\MailGenerator
    AppBundle\Twig\MailGenerator:
        arguments: ['%mailer_address%', '@twig', '@app.twig_global_customization']

    app.participation_manager:
        alias: AppBundle\Manager\ParticipationManager
    AppBundle\Manager\ParticipationManager:
        class: AppBundle\Manager\ParticipationManager
        arguments: ['@router','@mailer', '@app.twig_mail_generator', '@logger', '@doctrine.orm.entity_manager']
        public: true

    app.newsletter_manager:
        alias: AppBundle\Manager\NewsletterManager
    AppBundle\Manager\NewsletterManager:
        arguments: ['@router', '@mailer', '@app.twig_mail_generator', '@logger']
        public: true
    app.newsletter_token_generator:
        class: FOS\UserBundle\Util\TokenGenerator
        public: true
    app.juvimg.service:
        class: AppBundle\Juvimg\JuvimgService
        factory: ['AppBundle\Juvimg\JuvimgService', create]
        public: true
        arguments:
          - "%juvimg.url%"
          - "%juvimg.password%"
          - "@logger"

    AppBundle\PdfConverterService:
        factory: ['AppBundle\PdfConverterService', create]
        public: true
        arguments:
          - "%app.libreoffice_binary_path%"
          - "%app.tmp.root.path%"
          - "@logger"
    app.pdf_converter_service:
        alias: AppBundle\PdfConverterService

    app.file_cache.event:
        class: AppBundle\Cache\FileCache
        arguments:
          - "%app.cache.environment.path%/fc/event"
    app.file_cache.gallery:
        class: AppBundle\Cache\FileCache
        arguments:
          - "%app.cache.environment.path%/fc/gallery"
    app.upload_image_manager:
        public: true
        class: AppBundle\Manager\UploadImageManager
        arguments: ['@app.file_cache.event', "%app.tmp.root.path%", '%vich_uploader.mappings%', 'event_image', '@logger', '@?app.juvimg.service']
    app.gallery_image_manager:
        public: true
        class: AppBundle\Manager\UploadImageManager
        arguments: ['@app.file_cache.gallery', "%app.tmp.root.path%", '%vich_uploader.mappings%', 'gallery_image', '@logger', '@?app.juvimg.service']
    app.user_registration.participation_listener:
        class: AppBundle\EventListeners\UserRegistrationListener
        arguments: ['@doctrine']
        tags:
            - { name: kernel.event_subscriber }
    app.security.implicit_login_listener:
        class: AppBundle\EventListeners\ImplicitLoginListener
        arguments: ['@session']
        tags:
            - { name: kernel.event_subscriber }

    app.comment_manager:
        alias: AppBundle\Manager\CommentManager
    AppBundle\Manager\CommentManager:
        class: AppBundle\Manager\CommentManager
        arguments: ['@doctrine', '@security.token_storage']
        public: true

    app.participant.profile_generator:
        alias: AppBundle\Manager\ParticipantProfile\ParticipantProfileGenerator
    AppBundle\Manager\ParticipantProfile\ParticipantProfileGenerator:
        arguments:
            - "%app.tmp.root.path%"
            - "%app.web.root.path%"
            - "@router"
            - "@skies_barcode.generator"
            - "@app.comment_manager"
            - "@app.payment_manager"
            - "@libphonenumber.phone_number_util"
        public: true

    app.payment.invoice_manager:
        alias: AppBundle\Manager\Invoice\InvoiceManager
    AppBundle\Manager\Invoice\InvoiceManager:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@app.payment_manager'
            - "%app.data.invoice.path%"
            - '@security.token_storage'

    app.payment.invoice_pdf_provider:
        alias: AppBundle\Manager\Invoice\InvoicePdfProvider
    AppBundle\Manager\Invoice\InvoicePdfProvider:
        arguments:
            - '@app.payment.invoice_manager'
            - "%app.data.invoice.path%"
            - '@app.pdf_converter_service'

    app.payment.invoice_mailer:
        alias: AppBundle\Manager\Invoice\InvoiceMailer
    AppBundle\Manager\Invoice\InvoiceMailer:
        arguments: ['@router','@mailer', '@app.twig_mail_generator', '@logger', '@doctrine.orm.entity_manager', '@app.payment.invoice_manager', '@app.payment.invoice_pdf_provider']
        public: true
    app.payment_manager:
        alias: AppBundle\Manager\Payment\PaymentManager

    AppBundle\Manager\Payment\PaymentManager:
        class: AppBundle\Manager\Payment\PaymentManager
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@app.price_manager'
            - '@security.token_storage'
        public: true

    app.payment.expression_language_provider:
        alias: AppBundle\Manager\Payment\ExpressionLanguageProvider
    AppBundle\Manager\Payment\ExpressionLanguageProvider:
        arguments:
            - "%app.cache.environment.path%/fc/payment"

    app.price_manager:
        alias: AppBundle\Manager\Payment\PriceManager
    AppBundle\Manager\Payment\PriceManager:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@app.payment.expression_language_provider'
        public: true

    app.price.formula_variable_provider:
        alias: AppBundle\Manager\Payment\PriceSummand\Formula\RepositoryFormulaVariableProvider
    AppBundle\Manager\Payment\PriceSummand\Formula\RepositoryFormulaVariableProvider:
        arguments:
            - '@doctrine.orm.entity_manager'
        public: true

    AppBundle\Entity\AcquisitionAttribute\Formula\ValidFormulaValidator:
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@app.payment.expression_language_provider'
        tags:
          - { name: validator.constraint_validator }

    app.payment_suggestion_manager:
        alias: AppBundle\Manager\Payment\PaymentSuggestionManager
    AppBundle\Manager\Payment\PaymentSuggestionManager:
        arguments: ['@doctrine.orm.entity_manager']
        public: true

    app.food_service:
        alias: AppBundle\Entity\Meals\FoodService
    AppBundle\Entity\Meals\FoodService:
        arguments: ['@doctrine.orm.entity_manager']
        public: true

    app.exception_listener:
        class: AppBundle\EventListeners\ExceptionListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: -1}
            - { name: monolog.logger }
        arguments:
            - "@twig"
            - "@logger"
    app.response_serialize_listener:
        class: AppBundle\EventListeners\ResponseSerializerListener
        tags:
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse, priority: -1}
        arguments:
            - "@jms_serializer"

    AppBundle\EventListeners\ParticipantRelatedParticipantResetListener:
        arguments:
            - "%app.tmp.root.path%"
        tags:
            - { name: doctrine.orm.entity_listener }
            -
                name: doctrine.orm.entity_listener
                event: preUpdate
                entity: AppBundle\Entity\Participant
            -
                name: doctrine.orm.entity_listener
                event: prePersist
                entity: AppBundle\Entity\Participant

    AppBundle\EventListeners\ParticipationRelatedParticipantResetListener:
        arguments:
            - "%app.tmp.root.path%"
        tags:
            - { name: doctrine.orm.entity_listener }
            -
                name: doctrine.orm.entity_listener
                event: preUpdate
                entity: AppBundle\Entity\Participation
    AppBundle\EventSubscribers\JmsInvoiceDownloadSubscriber:
        arguments:
            - "@app.payment.invoice_manager"
            - '@router'
            - '@app.pdf_converter_service'
        tags:
            - { name: jms_serializer.event_subscriber}

    app.related_participants_finder:
        alias: AppBundle\Manager\RelatedParticipantsFinder
    AppBundle\Manager\RelatedParticipantsFinder:
        arguments:
            - "%app.tmp.root.path%"
            - '@doctrine.orm.entity_manager'

    app.repository.event:
        class: AppBundle\Entity\EventRepository
        factory: ["@doctrine.orm.entity_manager", getRepository]
        arguments:
            - 'AppBundle:Event'

    app.repository.participation:
        class: AppBundle\Entity\ParticipationRepository
        factory: ["@doctrine.orm.entity_manager", getRepository]
        arguments:
            - 'AppBundle:Participation'

    app.repository.open_street_map_element:
        class: AppBundle\Entity\Geo\LocationDescriptionRepository
        factory: ["@doctrine.orm.entity_manager", getRepository]
        arguments:
            - 'AppBundle:Geo\LocationDescription'

    app.repository.meterological_current:
        class: AppBundle\Entity\Geo\CurrentWeatherRepository
        factory: ["@doctrine.orm.entity_manager", getRepository]
        arguments:
            - 'AppBundle:Geo\CurrentWeather'

    app.repository.meterological_forecast:
        class: AppBundle\Entity\Geo\MeteorologyForecastRepository
        factory: ["@doctrine.orm.entity_manager", getRepository]
        arguments:
            - 'AppBundle:Geo\WeatherForecast'

    app.repository.entity_change:
        class: AppBundle\Entity\ChangeTracking\EntityChangeRepository
        factory: ["@doctrine.orm.entity_manager", getRepository]
        arguments:
            - 'AppBundle:ChangeTracking\EntityChange'

    AppBundle\Security\EventVoter:
      autowire: true
      tags:
        - security.voter

    AppBundle\Security\AttributeVoter:
      autowire: true
      tags:
        - security.voter

    AppBundle\LocalhostInformationProvider:
        arguments:
            - "@request_stack"

    AppBundle\Form\GroupFieldAssignEntitiesType:
      autowire: true
      tags:
        - form.type

    AppBundle\Form\ImportEmployeeType:
      autowire: true
      tags:
        - form.type

    AppBundle\Form\EventEntityType:
      autowire: true
      tags:
        - form.type

    AppBundle\Form\InvoiceMailingType:
      autowire: true
      tags:
        - form.type

    AppBundle\Form\ParticipationType:
      arguments:
        - "%kernel.root_dir%"
      tags:
        - form.type

    AppBundle\Form\Meal\MealFeedbackType:
        arguments:
            - "@doctrine.orm.entity_manager"
        tags:
            - { name: form.type}

    AppBundle\Form\AcquisitionAttribute\SpecifyEventSpecificVariableValuesForEventType:
      arguments:
        - "@doctrine.orm.entity_manager"
      tags:
        - form.type

    AppBundle\Manager\Geo\NominatimAddressResolver:
        arguments:
            - "%app.cache.nominatim_last_access.path%"

    app.geo.address_resolver:
        alias: AppBundle\Manager\Geo\AddressResolver
    AppBundle\Manager\Geo\AddressResolver:
        class: AppBundle\Manager\Geo\AddressResolver
        arguments:
            - '@AppBundle\Manager\Geo\NominatimAddressResolver'
            - '@app.repository.open_street_map_element'
        public: true

    AppBundle\Manager\Weather\OpenweathermapMeteorologicalProvider:
        arguments:
            - "%app.geo.openweathermap.api_key%"

    app.geo.weather_provider:
        alias: AppBundle\Manager\Weather\MeteorologicalProvider
    AppBundle\Manager\Weather\MeteorologicalProvider:
        class: AppBundle\Manager\Weather\MeteorologicalProvider
        arguments:
            - '@AppBundle\Manager\Weather\OpenweathermapMeteorologicalProvider'
            - '@app.repository.meterological_current'
            - '@app.repository.meterological_forecast'
        public: true

    AppBundle\EventListeners\ChangeTrackingListener:
        arguments:
            - '@security.token_storage'
            - '@logger'
        tags:
            - name: 'doctrine.event_listener'
              event: onFlush
            - name: 'doctrine.event_listener'
              event: preUpdate
            - name: 'doctrine.event_listener'
              event: preRemove
            - name: 'doctrine.event_listener'
              event: postFlush

    AppBundle\Twig\Extension\ChangeTrackingButton:
        arguments:
            - '@app.repository.entity_change'
            - '@security.authorization_checker'
            - '@router'
        public: false
        tags:
            - { name: twig.extension }

    app.converter.event:
        class: AppBundle\Controller\ParamConverter\EventParamConverter
        arguments: ['@app.repository.event']
        tags:
            - { name: request.param_converter, priority: 2, converter: converter_event }

    AppBundle\Controller\:
        resource: '../src/AppBundle/Controller/**/*Controller.php'
        exclude: '../src/AppBundle/Controller/{Default|Event/Participation/AdminMultipleExport}Controller.php'
        tags: [ 'controller.service_arguments' ]

    AppBundle\Controller\DefaultController:
        arguments:
            $customizationThemeColor: "%customization.theme_color%"
            $kernelRootDir: "%kernel.root_dir%"
        tags: [ 'controller.service_arguments' ]

    AppBundle\Controller\Event\Participation\AdminMultipleExportController:
        arguments:
            $tmpRootPath: "%app.tmp.root.path%"
        tags: [ 'controller.service_arguments' ]

    AppBundle\Controller\Event\Participation\AdminInvoiceController:
        arguments:
            $tmpRootPath: "%app.tmp.root.path%"
            $customizationOrganizationName: "%customization.organization_name%"
        tags: [ 'controller.service_arguments' ]

    AppBundle\Controller\Newsletter\PublicController:
        arguments:
            $newsletterFeature: "%feature.newsletter%"
            $customizationOrganizationName: "%customization.organization_name%"
        tags: [ 'controller.service_arguments' ]

    AppBundle\Controller\Newsletter\AdminController:
        arguments:
            $newsletterFeature: "%feature.newsletter%"
            $customizationOrganizationName: "%customization.organization_name%"
        tags: [ 'controller.service_arguments' ]

    AppBundle\Controller\Event\PublicController:
        arguments:
            $uploadImageManager: '@app.upload_image_manager'
        tags: [ 'controller.service_arguments' ]

    AppBundle\Controller\Event\AdminController:
        arguments:
            $uploadImageManager: '@app.upload_image_manager'
        tags: [ 'controller.service_arguments' ]


    AppBundle\Controller\Event\Gallery\GalleryAdminController:
        arguments:
            $kernelSecret: '%kernel.secret%'
            $galleryImageManager: '@app.gallery_image_manager'
        tags: [ 'controller.service_arguments' ]

    AppBundle\Controller\Event\Gallery\GalleryPublicController:
        arguments:
            $kernelSecret: '%kernel.secret%'
            $galleryImageManager: '@app.gallery_image_manager'
        tags: [ 'controller.service_arguments' ]

    AppBundle\Controller\Event\Participation\PublicParticipateController:
        arguments:
            $featureNewsletter: '%feature.newsletter%'
        tags: [ 'controller.service_arguments' ]

    AppBundle\Controller\UserController:
        arguments:
            $fosUserManager: '@fos_user.user_manager'
        tags: [ 'controller.service_arguments' ]

    AppBundle\Command\:
        resource: '../src/AppBundle/Command/**/*Command.php'
        tags: [ 'console.command' ]

    AppBundle\Command\EventImageGalleryGenerateCommand:
        arguments:
            $galleryImageManager: '@app.gallery_image_manager'
        tags: [ 'console.command' ]

    AppBundle\Command\Data\:
        resource: '../src/AppBundle/Command/Data/*Command.php'
        tags: [ 'console.command' ]
        arguments:
            $databaseUser: '%database_user%'
            $databasePassword: '%database_password%'
            $databaseHost: '%database_host%'
            $databasePort: '%database_port%'
            $databaseName: '%database_name%'
            $databaseConfigFilePath: '%app.database.configuration.path%'
            $webRootPath: '%app.web.root.path%'
            $tmpRootPath: '%app.tmp.root.path%'
            $dataRootPath: '%app.data.root.path%'
