{% cspscript %}
<script type='text/javascript'>
    $(function () {
        $('#event_acquisitionAttributes label').each(function () {
            const el = $(this),
                inputEl = el.find('input');

            if (inputEl[0].checked) {
                el.addClass('is-initial-checked');
            }

            if (inputEl.hasClass('is-archived')) {
                el.addClass('is-archived');
                el.append(' <span class="label label-info">archiviert</span>');
            }
            if (inputEl.hasClass('is-deleted')) {
                el.addClass('is-deleted');
                el.append(' <span class="label label-danger">gelöscht</span>');
            }
        });

        var updateBoxState = function(box) {
            var name = box.attr('name'),
                    checked = box.prop('checked'),
                    fieldList = [];

            switch(name) {
                case 'event[hasStartTime]':
                    fieldList   = [
                        'event[startTime][hour]',
                        'event[startTime][minute]'
                    ];
                    break;
                case 'event[hasEndDate]':
                    fieldList   = [
                        'event[endDate]'
                    ];
                    break;
                case 'event[hasEndTime]':
                    fieldList   = [
                        'event[endTime][hour]',
                        'event[endTime][minute]'
                    ];
                    break;
                case 'event[hasConfirmationMessage]':
                    fieldList   = [
                        'event[confirmationMessage]'
                    ];
                    break;
                case 'event[hasWaitingListThreshold]':
                    fieldList   = [
                        'event[waitingListThreshold]'
                    ];
                    break;
                default:
                    return true;
            }

            $.each(fieldList, function( i, v) {
                $( '[name="'+ v +'"]').attr('disabled', !checked);
            });

            return true;
        };

        $( "[type=checkbox]" ).change(function() {
            return updateBoxState($(this));
        });

        $.each($( "[type=checkbox]" ), function( i, v) {
            return updateBoxState($(v));
        });
    });
</script>
{% endcspscript %}
