{{ form_start(form) }}
<div class="row">
    <div class="col-xs-12">
        {{ form_errors(form) }}
    </div>
</div>
{% embed 'event/admin/employee/embed-form-employee.html.twig' with {'formEmployee': form} %}{% endembed %}
<div class="row">
    <div class="col-xs-12">
        <input type="submit" class="btn btn-primary navbar-btn" value="{% block submit %}{% endblock %}"/>
    </div>
</div>

{{ form_end(form) }}
