{% if buttonIsEnabled %}
    {% if buttons.buttonDisable.glyph is defined %}
        {{ buttons.buttonDisable.glyph|glyph }}
    {% endif %}
    {% if buttons.buttonDisable.label is defined %}
        <span class="hidden-xs">{{ buttons.buttonDisable.label}}</span>
    {% endif %}
{% else %}
    {% if buttons.buttonEnable.glyph is defined %}
        {{ buttons.buttonEnable.glyph|glyph }}
    {% endif %}
    {% if buttons.buttonEnable.label is defined %}
        <span class="hidden-xs">{{ buttons.buttonEnable.label}}</span>
    {% endif %}
{% endif %}