#cookiechoice {
  position: fixed;
  bottom: 0;
  background: #333333;
  width: 100%;
  color: white;
  padding: 10px 0;
  z-index: 100;

  > div {
    display: block;
  }

  .button-container {
    margin-left: 5px;
    display: block;
    float: right;
  }
}