.flat-progress-bar .progress {
  margin-bottom: 6px;
}

.progress-bar-gender-1 {
  background-color: #559fff;
}

.progress-bar-gender-2 {
  background-color: #ffa1c9;
}

#event_description {
  min-height: 500px;
}

/** Event participation detail **/
@media (min-width: 992px) {
  .participation-panels .btn-toolbar {
    margin-top: 12px;
  }
}

@media (max-width: 991px) {
  .participation-panels .btn-toolbar {
    margin-bottom: 20px;
  }
}

/** Comments **/
#dialogModalComment p.meta {
  margin: 0;
}

.panel-comments {

  padding: 0; //prevent collapse from flipping

  > div.comment-add {
    float: right;
    padding: 10px 15px 2px 2px;
  }
  > div.comments {
    padding: 10px 15px; //prevent collapse from flipping

    .empty {
      font-size: 85%;
      font-style: italic;
      margin: 0 0 6px;
    }
  }

  > div.comments.loading-text {

  }
}

.comment {
  .content p:last-of-type {
    margin: 0;
  }

  //edit button
  .btn-edit-comment {
    display: none;
  }

  .meta {
    line-height: 22px;
  }
}

.comment:hover .btn-edit-comment {
  display: inline-block;
}
