.flat-progress-bar .progress {
  margin-bottom: 6px;
}

.progress-bar-gender-1 {
  background-color: #559fff;
}

.progress-bar-gender-2 {
  background-color: #ffa1c9;
}

#event_description {
  min-height: 500px;
}