.flat-progress-bar .progress {
  margin-bottom: 6px;
}

.progress-bar-gender-1 {
  background-color: #559fff;
}

.progress-bar-gender-2 {
  background-color: #ffa1c9;
}

#event_description {
  min-height: 500px;
}

@media (min-width: 992px) {
  .participation-panels .btn-toolbar {
    margin-top: 12px;
  }
}

@media (max-width: 991px) {
  .participation-panels .btn-toolbar {
    margin-bottom: 20px;
  }
}
