#page-footer {
  margin-top: 60px;
  color: $footerFgColor;
  background-color: $brandPrimaryDark;

  a, a:link {
    color: lighten($footerFgColor, 1%);
  }
  a:hover {
    color: lighten($footerFgColor, 25%);
  }
  h2 {
    display: none;
  }

  h3, h4, h5, h6 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 6px;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      margin: 2px 0;
    }
  }
  > .container > .row {
    margin-bottom: 40px;
  }
}
