body,
#page-body {
  background-color: white;
}

#page-footer {
  margin-top: 60px;
  color: #222222;
  background-color: $ejdvLightOrange;

  a, a:link {
    color: #222222;
  }
  a:hover {
    color: lighten(#222222, 25%);
  }
  h2 {
    display: none;
  }

  h3, h4, h5, h6 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 6px;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      margin: 2px 0;
    }
  }
}
