//remove top additional space from radioboxes
.checkbox, .radio {
  margin-top: 0;
}

.input-group-btn button {
  min-height: 34px;
}

.help-block {
  margin-top: 0;
}

.help-block-input {
  margin-top: -10px;
}

textarea {
  min-height: 100px;
}
