.navbar-inverse {
  background-color: $ejdvYellow;
  border-color: $ejdvYellow;

  /*
  background-color: #222;
  border-color: #090909;
  */

  .navbar-brand {
    color: #222;
  }

  .navbar-nav > li > a {
    color: lighten(#222, 5%);
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: lighten(#222, 25%);
  }
}
