#help-topic-age-range {
  margin-bottom: 0;
}

.contains-slider {

  height: 58px;
  line-height: 58px;

  > div {
    display: inline-block;
  }
}

.theme-green .back-bar div.selected-bar {
    background-color: $brandPrimaryDark;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(lighten($brandPrimaryDark, 10%)), to($brandPrimaryDark));
    background-image: -webkit-linear-gradient(top, lighten($brandPrimaryDark, 10%), $brandPrimaryDark);
    background-image: -o-linear-gradient(top, lighten($brandPrimaryDark, 10%), $brandPrimaryDark);
    background-image: linear-gradient(to bottom, lighten($brandPrimaryDark, 10%), $brandPrimaryDark);

}
.progress-bar-empty {
  @include progress-bar-variant(#d6d6d9);
}


.loading-text {
  @include transition(color 0.2s);
}

#affectedSubscription {
  color: black;
}

.loading-text {
  color: #454546;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    color: lighten(#646465, 25%);
  }
  50% {
    color: #454546;
  }
  100% {
    color: lighten(#646465, 25%);
  }
}


#aging-range-section {
  &.has-warning .sign {
    display: inline;
  }
  .sign {
    display:none;
  }
}