/** Event participation detail **/
.participation-panels {
  .page-header {
    margin-bottom: 0;
  }

  .btn-toolbar {
    margin: 10px 0;

    > .btn-group {
      margin: 0;
    }
  }
}

/** Comments **/
#dialogModalComment p.meta {
  margin: 0;
}

.panel-comments {

  padding: 0; //prevent collapse from flipping

  > div.comment-add {
    float: right;
    padding: 10px 15px 2px 2px;
  }
  > div.comments {
    padding: 10px 15px; //prevent collapse from flipping

    .empty {
      font-size: 85%;
      font-style: italic;
      margin: 0 0 6px;
    }
  }

  > div.comments.loading-text {

  }
}

.comment {
  .content p:last-of-type {
    margin: 0;
  }

  //edit button
  .btn-edit-comment {
    display: none;
  }

  .meta {
    line-height: 22px;
  }
}

.comment:hover .btn-edit-comment {
  display: inline-block;
}

@media print {
  .print-col-sm-6 > .col-xs-12 {
    width: 50%;
  }

  .print-col-sm-6 {
    .btn {
      display: none !important;;
    }

    .dl-horizontal dd {
      margin-left: 180px;
    }
    .dl-horizontal dt {
      float: left;
      width: 160px;
      clear: left;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .breadcrumb a[href]:after {
    content: "";
  }

}

.participation-panels {
  > .row:first-child,
  .panel-body .row:first-child {
    margin-bottom: 20px;
  }

  .panel {
    .panel-body {
      padding: 10px;
    }
    dl {
      margin: 0;
    }
    dd.phone-container div,
    dd {
      margin-bottom: 3px;
    }
    dd.phone-container,
    dd:last-child {
      margin-bottom: 0;
    }
    address {
      margin: 0;
    }
  }

}

#mail-template {
  iframe {
    width: 100%;
    height: 649px;
    min-height: 400px;
    border-style: none;
  }
  #mail-template-iframe-panel .panel-body {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .col-label-spacer {
    padding-top: 24px;
  }
}

#dialogPriceConfiguration {
  .btn-group.btn-group-justified,
  .nav.nav-tabs {
    margin-bottom: 10px;
  }
}

#priceHistory table {
  thead td {
    font-weight: bold;
  }

  tbody tr.price_set td {
    border-top: 1px solid #aaa;
    border-bottom: 2px solid #bbb;
  }
  tbody td.value {
    text-align: right;
  }
}