.page-participate {
  dd {
    margin-bottom: 4px;
  }

  dd.address-container {
    margin-bottom: 0;
  }
  dd.address-container address {
    margin-bottom: 4px;
  }

  dl:last-child {
    margin-bottom: 0;
    dd {
      margin-bottom: 0;
    }
  }
}

#mail-template {
  iframe {
    width: 100%;
    height: 649px;
    min-height: 400px;
    border-style: none;
  }
  #mail-template-iframe-panel .panel-body {
    padding: 0;
  }
}