{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}Registrierung bestätigen ({{ customization.title }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Registrierung bestätigen', 'subtitle': customization.title} %}
        {% block breadcrumb %}
            <li class="active">Registrierung bestätigen</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info" role="alert">
                    <p>Herzlichen Glückwunsch {{ user.nameFirst }} {{ user.nameLast }}, Ihr Benutzerkonto ist jetzt bestätigt.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}