{% extends 'base.html.twig' %}

{% block title %}Teilnehmer verwalten ({{ event.title }}){% endblock %}

{% block body %}
    {%  include 'common/header/base-page-header.html.twig' with {'title': 'Teilnehmer', 'subtitle': 'verwalten'} %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="event-list-toolbar">
                    <label>{{ event.title }}</label>
                </div>
                <table id="participantsListTable" class="table table-striped" data-id-field="did"
                       data-toggle="table" data-cache="false" data-pagination="true"
                       data-side-pagination="client" data-show-refresh="true" data-show-columns="true"
                       data-search-align="right" data-toolbar="#event-list-toolbar" data-striped="true"
                       data-show-filter="true"  data-search="true" data-url="participants.json">
                    <thead>
                        <tr>
                            <th data-field="aid" data-sortable="true" data-visible="false">#</th>
                            <th data-field="nameFirst" data-sortable="true">Vorname</th>
                            <th data-field="nameLast" data-sortable="true"  data-order="asc">Nachname</th>
                            <th data-field="age" data-sortable="true"><abbr title="Alter der Teilnehmer bei der Veranstaltung">Alter</abbr></th>
                            <th data-field="status" data-sortable="false" data-width="50">Status</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script type='text/javascript'>
    $(function () {
        $('#participantsListTable').on('click-row.bs.table', function (e, row, $element) {
            location.href = row.aid;
        });
    });
</script>
{% endblock %}
