/**
 * Apply thumbnail style also to lazy-loaded images
 */
.thumbnail > div > img, .thumbnail a > div > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.lazy-load-image {
  max-height: 0;
  overflow: hidden;

}
.lazy-load-image.load,
.lazy-load-image.load-direct {
  max-height: 800px;
}

.lazy-load-image.load {
  -webkit-transition: max-height 0.6s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}
