<div class="gallery" data-width="0" data-gallery-id-prefix="{{ galleryId }}">
    {% for image in images %}
        {% embed 'event/public/embed-gallery-image.html.twig' with {'eid': event.eid, 'images': images, 'hash': galleryHash, 'lightbox': lightbox, 'galleryId': galleryId} %}
        {% endembed %}
    {% endfor %}
</div>
