{% extends 'base.html.twig' %}

{% block title %}Veranstaltung ({{ event.title }}){% endblock %}

{% block body %}
    <section>
        <article>
            {% embed 'common/header/base-page-header.html.twig' with {'title': event.title, 'subtitle': 'Bildergallerie'} %}
                {% block breadcrumb %}
                    <li><a href="{{ path('homepage') }}">Juvem</a></li>
                    <li><a href="{{ path('event_public_detail', {'eid': event.eid }) }}">{{ event.title }}</a>
                    <li class="active">Bildergallerie</li>
                {% endblock %}
            {% endembed %}
            <div class="container">
                <div class="row">
                    <div class="media-gallery">
                        <div class="row gallery" id="dropzone-gallery">
                            {% for image in images %}
                                {% embed 'event/public/gallery-image.html.twig' with {'eid': event.eid, 'image': image, 'hash': galleryHash} %}
                                {% endembed %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </section>
{% endblock %}
