{% extends 'base.html.twig' %}

{% block head %}
    <meta name="robots" content="noindex, follow">
{%- endblock %}

{% block title %}Bildergalerie ({{ event.title }}){% endblock %}
{% block bodytag %}class="dark"{% endblock %}
{% block body %}
    <section>
        <article>
            {% embed 'common/header/base-page-header.html.twig' with {'title': event.title, 'subtitle': 'Bildergalerie'} %}
                {% block breadcrumb %}
                    <li><a href="{{ path('homepage') }}">{{ appTitle }}</a></li>
                    <li><a href="{{ path('event_public_detail', {'eid': event.eid }) }}">{{ event.title }}</a>
                    <li class="active">Bildergalerie</li>
                {% endblock %}
            {% endembed %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12" id="gallery-cache-clear-btn-wrap"></div>
                </div>
                {% for title,images in galleries %}
                    <div class="row">
                        <div class="col-xs-12">
                            {% if title and title != 'unknown' %}
                                <h2>{{ title }}</h2>
                            {% endif %}
                            {% embed 'event/public/embed-gallery.html.twig' with {'eid': event.eid, 'images': images, 'hash': galleryHash, 'lightbox': true, 'galleryId': 1} %}
                            {% endembed %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </article>
    </section>
{% endblock %}