i.empty.no-one,
i.empty.empty-none,
i.empty.no-special,
i.empty.value-null,
i.empty.no-selection {
  color: #333;
}

i.empty.no-special span:after {
  content: '(Keine Besonderheiten)';
}

i.empty.value-null span:after {
  content: '(Keine Eingabe)';
}

i.empty.no-selection span:after {
  content: '(Keine Auswahl)';
}

i.empty.no-one:after {
  content: '(niemand)';
}
i.empty.empty-none:after {
  content: '(nichts)';
}