@media print, screen {

  #print-page {
    width: 210mm;
    height: 297mm;
    size: A4;
    margin: 0;

    span.label {
      padding: .1em .5em;
      margin: .1em;
    }

    background: white;

    //font-size: 175%;

    .breadcrumb {
      background: #d6d6d9 !important;
      margin: 0;
    }

    .participant {
      //      height: 425px;
      .dl-horizontal {
        margin: 0;
      }
      h3 {
        font-size: 24px;
        //font-size: 4em;
      }

      h4 {
        font-size: 18px;
      }
    }

    dl {
      margin: 0;
      dd {
        font-size: 17px;
        line-height: 18px;
        //line-height: 115%;
        i {
          font-size: 16px;
          //font-size: 90%;
          color: #222;
        }

        &.address-container {
          margin-bottom: 0;
        }
      }
    }

    dt {
      font-size: 18px;
      line-height: 19px;

      .description {
        color: $gray !important;
        font-weight: normal;
        font-size: 17px;
        //font-size: 80%;
        line-height: 18px;
        //line-height: 116%;
        padding-bottom: 3px;
      }
    }

    .dl-horizontal dt {
      float: left;
      width: 80px;
      clear: left;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dd {
      padding: 0 0 10px 0;
    }

    .dl-horizontal dd {
      margin: 0 0 10px 90px;
    }

    address {
      margin: 0;

      strong {
        font-weight: 500;
      }
    }

    div.qrcode div > div {
      background-color: black !important;
    }
    div.text {
      margin-top: -2px;
      line-height: 19px;
      //line-height: 110%;
    }

    h3 {
      margin-bottom: 0;
    }

    .status-label-list {
      margin-top: 20px;
    }

    p {
      margin: 0;
      padding: 0 0 8px;
      font-size: 17px;
      line-height: 18px;
    }
    .content, p.meta {
      background: #f7f7f7 !important;

      pre {
        margin: 0;
        padding: 1em 0;
      }
    }
    p.empty {
      background: transparent;
    }

    p.meta {
      color: $gray;
      font-size: 15px;
      //font-size: 90%;
      line-height: 16px;
      //line-height: 130%;
      padding-bottom: 2px;
      border-bottom: 1px solid $gray-light !important;
    }

    .phone-container {
      .col-xs-6 {
        min-height: 90px;
      }
      .qrcode {
        float: left;
        margin: 0 10px 5px 0;
      }

      i {
        font-size: 16px;
        line-height: 17px;
        //font-size: 90%;
      }
    }
    .row.participant-title {
      margin-left: 60px;
      > div > div {
        height: 375px;
      }
      .horizontal {
        padding-top: 60px;

        .qrcode {
          margin-top: 60px;
        }
      }

      .vertical-rotated {
        max-width: 550px;
        height: 875px;
        padding: 130px 100px 15px 0;
        transform: rotate(-90deg);
      }

      h3 {
        font-size: 65px;
        //font-size: 4em;
      }

      h4 {
        font-size: 35px;
        margin-top: 20px;
        //font-size: 2em;
        color: $gray-light !important;
      }
    }

    #comments-list {
      .grid-item {
        page-break-inside: avoid;
        .grid-item-content {
          page-break-inside: avoid;
          padding-bottom: 10px;
        }

      }

      blockquote {
        border: 0 !important;
        margin: 0 !important;
      }
    }

    .row.participant-title {
      page-break-after: always;
    }

    .participant-end {
      clear: both;
      page-break-after: always;
    }
  }
}