@media print, screen {

  #print-page {
    background: white;

    font-size: 175%;

    .breadcrumb {
      background: #d6d6d9 !important;
      margin: 0;
    }

    .participant {
      height: 425px;
      .dl-horizontal {
        margin: 0;
      }
    }

    dl {
      margin: 0;
      dd {
        line-height: 110%;
        i {
          font-size: 80%;
          color: #222;
        }
      }
    }

    dt {
      .description {
        color: $gray !important;
        font-weight: normal;
        font-size: 80%;
        line-height: 115%;
        margin-bottom: 3px;
      }
    }
    .dl-horizontal dt {
      float: left;
      width: 80px;
      clear: left;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dd {
      margin: 0 0 10px 0;
    }

    .dl-horizontal dd {
      margin: 0 0 10px 90px;
    }

    address {
      margin: 0;

      strong {
        font-weight: 500;
      }
    }

    div.qrcode div > div {
      background-color: black !important;
    }
    div.text {
      margin-top: -2px;
      line-height: 110%;
    }

    h3 {
      margin-bottom: 0;
    }

    .status-label-list {
      margin-top: 20px;
    }

    p {
      background: #eee;
      margin: 0;
      padding: 0 0 8px;
    }

    p.meta {
      color: $gray;
      font-size: 90%;
      line-height: 130%;
      margin-bottom: 10px;
      padding-bottom: 2px;
      border-bottom: 1px solid $gray-light !important;
    }

    .phone-container {
      .col-xs-6 {
        min-height: 90px;
      }
      .qrcode {
        float: left;
        margin: 0 10px 5px 0;
      }

      i {
        font-size: 90%;
      }
    }
    .row.participant-title {
      margin-left: 60px;
      > div > div {
        height: 375px;
      }
      .horizontal {
        padding-top: 60px;

        .qrcode {
          margin-top: 60px;
        }
      }

      .vertical-rotated {
        height: 875px;
        padding-top: 60px;
        padding-bottom: 15px;
        transform: rotate(-90deg);
      }

      h3 {
        font-size: 4em;
      }

      h4 {
        margin-top: 20px;
        font-size: 2em;
        color: $gray-light !important;
      }
    }

    .row.participant-title {
      page-break-after: always;
    }

    .participant-end {
      page-break-after: always;
    }
  }
}