{% extends 'base.html.twig' %}

{% block title %}Benutzer verwalten{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Benutzer', 'subtitle': 'Detailansicht'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('user_list') }}">Benutzer</a></li>
            <li class="active">{{ user.fullname(user.nameLast, user.nameFirst) }}</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
{% endblock %}
