{% extends 'base.html.twig' %}

{% block title %}Benutzer verwalten{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Benutzer', 'subtitle': 'verwalten'} %}
        {% block breadcrumb %}
            <li class="active">Benutzer</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="user-list-toolbar">
                </div>
                <table id="userListTable" class="table table-striped" data-id-field="uid"
                       data-toggle="table" data-cache="false" data-pagination="true"
                       data-side-pagination="client" data-show-refresh="true" data-show-columns="true"
                       data-search-align="right" data-toolbar="#user-list-toolbar" data-striped="true"
                       data-show-filter="true" data-search="true" data-url="list.json">
                    <thead>
                    <tr>
                        <th data-field="uid" data-sortable="true" data-visible="false">#</th>
                        <th data-field="nameFirst" data-sortable="true">Vorname</th>
                        <th data-field="nameLast" data-sortable="true" data-order="asc">Nachname</th>
                        <th data-field="email" data-sortable="true">E-Mail</th>
                        <th data-field="roles" data-sortable="false" data-width="100">Rollen</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
{% endblock %}