{% embed 'mail/template.html.twig' %}
    {% block title %}<span id="mail-part-title">Lorem ipsum dolor sit amet</span>{% endblock %}
    {% block lead %}<span id="mail-part-lead">At vero eos et accusam et justo duo dolores et ea rebum.</span>{% endblock %}
    {% block content %}<p id="mail-part-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>Mit besten Grüßen,<br>
{{ customization.organizationName }}</p>
{% endblock %}
{% endembed %}