{% block subject %}{% autoescape false %}Anmeldung für "{{ event.title }}" eingegangen{% endautoescape %}{% endblock %}

{% block body_text %}
{% autoescape false %}
{% if participation.salution == 'Herr' %}
Hallo Herr {{ participation.nameLast }}!
{% else %}
Hallo Frau {{ participation.nameLast }}!
{% endif %}

Ihre Anmeldung für die Veranstaltung "{{ event.title }}" ist eingegangen. {% if event.hasWaitingListThreshold() and event.participantsCount >= event.waitingListThreshold -%}Da im Moment alle Plätze der Veranstaltung belegt zu sein scheinen, erfolgt ihre Anmeldung zunächst auf Warteliste.{% endif %} Wir werden sie so bald wie möglich bearbeiten. Sie erhalten eine weitere E-Mail, wenn Ihre Anmeldung bestätigt wurde.

Wir haben die von Ihnen angegebenen Anmeldedaten im Anschluss noch einmal aufgeführt. Sollte Ihnen noch ein Fehler auffallen, oder muss eine Korrektur vorgenommen werden, unterrichten Sie uns einfach darüber. Wir können die Daten dann anpassen.

DATEN DER ELTERN:
  Anrede: {{ participation.salution }}
  Vorname: {{ participation.nameFirst }}
  Nachname: {{ participation.nameLast }}
  Telefonnummern: {% for phoneNumber in participation.phoneNumbers %}

    {{ phoneNumber.number|phone_number_format('INTERNATIONAL') }} - {% if phoneNumber.description %}{{ phoneNumber.description }}{% endif %}
{% endfor %}

  Anschrift:
    {{ participation.getName() }}
    {{ participation.addressStreet }}
    {{ participation.addressZip }} {{ participation.addressCity }}
  E-Mail Adresse: {{ participation.email }}
{% for fillout in  participation.acquisitionAttributeFillouts %}
    {% if fillout.attribute.public %}{{ fillout.attribute.formTitle }}: {{ fillout }}{% endif %}{% endfor %}

DATEN DER TEILNEHMER:
{% for participant in participation.getParticipants() %}
  Teilnehmer ({{ participant.fullname(participant.nameLast, participant.nameFirst) }})
    Vorname: {{ participant.nameFirst }}
    Nachname: {{ participant.nameLast }}
    Geschlecht: {{ participant.getGender(true) }}
    Geburtsdatum: {{ participant.getBirthday|date("d.m.Y") }}
    Ernährung: {% set participantFood = participant.getFood(true) %}{% if participantFood.getValue() %}{{ participantFood.getActiveList(true)|join(', ') }}{% else %}(keine Besonderheiten){% endif %}
{% for fillout in participant.acquisitionAttributeFillouts %}
    {% if fillout.attribute.public %}{{ fillout.attribute.formTitle }}: {{ fillout }}{% endif %}{% endfor %}

    Medizinische Hinweise: {% if not participant.infoMedical %}(keine Besonderheiten){% else %}
       {{ participant.infoMedical }}{% endif %}

    Allgemeine Hinweise:  {% if not participant.infoGeneral %}(keine Besonderheiten){% else %}
       {{ participant.infoGeneral }}{% endif %}


{% endfor %}

Mit besten Grüßen,
{{ customization.organizationName }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% embed 'mail/template.html.twig' %}
    {% block title %}{% if participation.salution == 'Herr' %}Hallo Herr{% else %}Hallo Frau{% endif %} {{ participation.nameLast }}!{% endblock %}
    {% block lead %}Ihre Anmeldung für die Veranstaltung <i>{{ event.title }}</i> ist eingegangen.{% endblock %}
    {% block content %}<p>Wir werden sie so bald wie möglich bearbeiten. {% if event.hasWaitingListThreshold() and event.participantsCount >= event.waitingListThreshold -%}Da im Moment alle Plätze der Veranstaltung belegt zu sein scheinen, erfolgt ihre Anmeldung zunächst auf <b>Warteliste</b>.{% endif %} Sie erhalten eine weitere E-Mail, wenn Ihre Anmeldung bestätigt wurde.</p>

        <p>Wir haben die von Ihnen angegebenen Anmeldedaten im Anschluss noch einmal aufgeführt. Sollte Ihnen noch ein Fehler auffallen, oder muss eine Korrektur vorgenommen werden, unterrichten Sie uns einfach darüber. Wir können die Daten dann anpassen.</p>
        <table class="classic" width="98%" cellspacing="0" cellpadding="0" border="0" style="margin:20px 0;border-bottom: 1px solid #222222;">
            <thead>
            <tr>
                <td class="thead" colspan="2" style="padding-bottom: 2px;border-bottom: 1px solid #222222;border-bottom: 1px solid #222222;">
                    Daten der Eltern
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="thead" style="padding-top: 4px;">Anrede</td>
                <td style="padding-top: 4px;">{{ participation.salution }}</td>
            </tr>
            <tr>
                <td class="thead">Vorname</td>
                <td>{{ participation.nameFirst }}</td>
            </tr>
            <tr>
                <td class="thead" style="min-width:150px;">Nachname</td>
                <td>{{ participation.nameLast }}</td>
            </tr>
            {% for fillout in participation.acquisitionAttributeFillouts %}
                {% if fillout.attribute.public %}
                    <tr>
                        <td class="thead" title="{{ fillout.attribute.formDescription }}">{{ fillout.attribute.formTitle }}</td>
                        <td>{{ fillout }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td class="thead"><abbr title="Telefonnummern">Telefon</abbr></td>
                <td>
                    {% for phoneNumber in participation.phoneNumbers %}
                        <strong>{{ phoneNumber.number|phone_number_format('INTERNATIONAL') }}</strong>
                        {% if phoneNumber.description %}
                            {{ phoneNumber.description }}
                        {% endif %}
                        <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="thead">Anschrift</td>
                <td>
                        <strong>{{ participation.getName() }}</strong><br>
                        {{ participation.addressStreet }}<br>
                        {{ participation.addressZip }} {{ participation.addressCity }}
                </td>
            </tr>
            <tr>
                <td class="thead" style="padding-bottom: 2px;"><abbr title="E-Mail Adresse">E-Mail</abbr></td>
                <td style="padding-bottom: 2px;">
                    {{ participation.email }}
                </td>
            </tr>
            </tbody>
        </table>

        {% for participant in participation.getParticipants() %}
            <table class="classic" width="98%" cellspacing="0" cellpadding="0" border="0" style="margin:20px 0; border-bottom: 1px solid #222222;">
                <thead>
                <tr>
                    <td class="thead" colspan="2" style="padding-bottom: 2px;border-bottom: 1px solid #222222;">
                        Teilnehmer ({{ participant.fullname(participant.nameLast, participant.nameFirst) }})
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="thead" style="padding-top: 4px;">Vorname</td>
                    <td style="padding-top: 4px;">{{ participant.nameFirst }}</td>
                </tr>
                <tr>
                    <td class="thead">Nachname</td>
                    <td>{{ participant.nameLast }}</td>
                </tr>
                <tr>
                    <td class="thead" style="min-width:150px;">Geschlecht</td>
                    <td>{{ participant.getGender(true) }}</td>
                </tr>
                <tr>
                    <td class="thead">Geburtsdatum</td>
                    <td>{{ participant.getBirthday|date("d.m.Y") }}</td>
                </tr>
                {% for fillout in participant.acquisitionAttributeFillouts %}
                    {% if fillout.attribute.public %}
                        <tr>
                            <td class="thead" title="{{ fillout.attribute.formDescription }}">{{ fillout.attribute.formTitle }}</td>
                            <td>{{ fillout }}</td>
                        </tr>
                    {% endif -%}
                {% endfor %}
                <tr>
                    <td class="thead">Ernährung</td>
                    <td>
                        {% set participantFood = participant.getFood(true) %}
                        {% if participantFood.getValue() %}
                            {{ participantFood.getActiveList(true)|join(', ') }}
                        {% else %}
                            <i>(keine Besonderheiten)</i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="thead"><abbr title="Medizinische">Med.</abbr> Hinweise</td>
                    <td>
                        {% if participant.infoMedical %}
                            {{ participant.infoMedical }}
                        {% else %}
                            <i>(keine Besonderheiten)</i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="thead" style="padding-bottom: 2px;"><abbr title="Allgemeine">Allg.</abbr> Hinweise</td>
                    <td style="padding-bottom: 2px;">
                        {% if participant.infoGeneral %}
                            {{ participant.infoGeneral }}
                        {% else %}
                            <i>(keine Besonderheiten)</i>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        {% endfor %}
    {% endblock %}
{% endembed %}
{% endblock %}