{% extends 'base.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Impressum', 'subtitle': 'Juvem'} %}
        {% block breadcrumbfull %}
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Juvem</a></li>
                <li class="active">Impressum</li>
            </ol>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            {{ customization.legalimprintContent|raw }}
            <div class="col-xs-12 col-sm-6">
                <h3>Datenschutzerklärung</h3>
                <p>Die Datenschutzerklärung finden Sie auf einer separaten Seite:<br>
                    <a href="{{ path('legal') }}">Datenschutzerklärung</a></p>
            </div>
            {% if customization.isCustomizationAvailable(kernelRootDir, 'conditions-of-travel-content') %}
                <div class="col-xs-12 col-sm-6">
                    <h3>Reisebedingungen</h3>
                    <p>Die Reisebedingungen finden Sie auf einer separaten Seite:<br>
                        <a href="{{ path('conditions_of_travel') }}">Reisebedingungen</a></p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}
