{% extends 'base.html.twig' %}

{% block title %}Datenschutzerklärung{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Datenschutzerklärung', 'subtitle': 'Juvem'} %}
        {% block breadcrumbfull %}
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Juvem</a></li>
                <li><a href="{{ path('imprint') }}">Impressum</a></li>
                <li class="active">Datenschutzerklärung</li>
            </ol>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% include 'legal/privacy-content.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}
