<h3 id="geltungsbereich">Geltungsbereich</h3>
<p>Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten durch den verantwortlichen Anbieter {{ customization.organizationCardInline|raw }} auf dieser Website (im folgenden “Angebot”) auf.</p>

<p>Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG).</p>

<h3 id="server">Zugriffsdaten/ Server-Logfiles</h3>

<p>Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten über jeden Zugriff auf das Angebot (so genannte Serverlogfiles). Zu den Zugriffsdaten gehören:</p>

<p>Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.</p>

<p>Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung des Angebotes. Der Anbieterbehält sich jedoch vor, die Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen Nutzung besteht.</p>

<h3 id="personenbezogenedaten">Umgang mit personenbezogenen Daten</h3>

<p>Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person bestimmbar ist, also Angaben, die zurück zu einer Person verfolgt werden können. Dazu gehören der Name, die Emailadresse oder die Telefonnummer. Aber auch Daten über Vorlieben, Hobbies, Mitgliedschaften oder welche Webseiten von jemandem angesehen wurden zählen grundsätzlich zu personenbezogenen Daten.</p>

<p>Personenbezogene Daten werden von dem Anbieter nur dann erhoben, genutzt und weiter gegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die Datenerhebung einwilligen.</p>

<h3 id="kontaktaufnahme">Kontaktaufnahme</h3>

<p>Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.</p>

<h3 id="newsletter">Newsletter</h3>

<p>Mit dem Newsletter informieren wir Sie über uns und unsere Veranstaltungen.</p>

<p>Wenn Sie den Newsletter empfangen möchten, benötigen wir von Ihnen eine valide Email-Adresse sowie Informationen, die uns die Überprüfung gestatten, dass Sie der Inhaber der angegebenen Email-Adresse sind bzw. deren Inhaber mit dem Empfang des Newsletters einverstanden ist. Weitere Daten werden nicht erhoben. Diese Daten werden nur für den Versand der Newsletter verwendet und werden nicht an Dritte weiter gegeben.</p>

<p>Mit der Anmeldung zum Newsletter speichern wir Ihre IP-Adresse und das Datum der Anmeldung. Diese Speicherung dient alleine dem Nachweis im Fall, dass ein Dritter eine Emailadresse missbraucht und sich ohne Wissen des Berechtigten für den Newsletterempfang anmeldet.</p>

<p>Ihre Einwilligung zur Speicherung der Daten, der Email-Adresse sowie deren Nutzung zum Versand des Newsletters können Sie jederzeit widerrufen. Der Widerruf kann über einen Link in den Newslettern selbst, in Ihrem Profilbereich oder per Mitteilung an die oben stehenden Kontaktmöglichkeiten erfolgen.</p>

<h3 id="dritte">Einbindung von Diensten und Inhalten Dritter</h3>

<p>Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von YouTube, Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt immer voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als "Dritt-Anbieter") die IP-Adresse der Nutzer wahr nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern. Soweit dies uns bekannt ist, klären wir die Nutzer darüber auf.</p>

<h3 id="cookies">Cookies</h3>
<p>
Cookies sind kleine Dateien, die es ermöglichen, auf dem Zugriffsgerät der Nutzer (PC, Smartphone o.ä.) spezifische, auf das Gerät bezogene Informationen zu speichern. Sie dienen zum einem der Benutzerfreundlichkeit von Webseiten und damit den Nutzern (z.B. Speicherung von Logindaten). Zum anderen dienen sie, um die statistische Daten der Webseitennutzung zu erfassen und sie zwecks Verbesserung des Angebotes analysieren zu können. Die Nutzer können auf den Einsatz der Cookies Einfluss nehmen. Die meisten Browser verfügen eine Option mit der das Speichern von Cookies eingeschränkt oder komplett verhindert wird. Allerdings wird darauf hingewiesen, dass die Nutzung und insbesondere der Nutzungskomfort ohne Cookies eingeschränkt werden.</p>

<p>Sie können viele Online-Anzeigen-Cookies von Unternehmen über die US-amerikanische Seite <a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a> oder die EU-Seite <a href="http://www.youronlinechoices.com/uk/your-ad-choices/">http://www.youronlinechoices.com/uk/your-ad-choices/</a> verwalten.</p>

<h3 id="registrierfunktion">Registrierfunktion</h3>
<p>Die im Rahmen der Registrierung eingegebenen Daten werden für die Zwecke der Nutzung des Angebotes verwendet. Die Nutzer können über veranstaltungs-, angebots- oder registrierungsrelevante Informationen, wie Änderungen von Veranstaltungen, des Angebotsumfangs oder technische Umstände per E-Mail informiert werden. Die erhobenen Daten sind aus der Eingabemaske im Rahmen der Registrierung ersichtlich. Dazu gehören bei der Registrierung Vor- und Zuname sowie die E-Mail- und die zur Registrierung verwendete IP-Adresse. Die Daten werden verwendet um Nutzer in an sie gerichtete E-Mails mit ihrem Namen anzureden. Diese Speicherung der IP-Adresse dient alleine dem Nachweis im Fall, dass ein Dritter eine Emailadresse missbraucht und sich ohne Wissen des Berechtigten registriert hat.</p>

<h3 id="anmeldungsfunktion">Anmeldungsfunktion</h3>
<p>Die im Rahmen der bei Anmeldungen zu Veranstaltungen eingegebenen Daten werden für die Zwecke der Nutzung des Angebotes verwendet. Die erhobenen Daten sind aus der Eingabemaske im Rahmen der Anmeldung ersichtlich. Dazu gehören Anrede, Vor- und Zuname, E-Mail und postalische Adresse, sowie Telefonnummern der Eltern. Weiterhin werden Vor- und Zunamen, Geschlecht und weitere von der Art der Veranstaltung abhängige Personenbezogene Daten zu Teilnehmern gespeichert. Dies können Essgewohnheiten oder medizinische Hinweise sein. Diese Daten werden erhoben, damit auf die Bedürfnisse der Teilnehmer bestmöglichst eingegangen werden kann. Wir behandeln die Daten vertraulich und nutzen Sie nur, soweit es die Veranstaltung erfordert.</p>

    <p>Diese Speicherung der IP-Adresse bei der Abgabe einer Anmeldung dient alleine dem Nachweis im Fall, dass ein Dritter eine Emailadresse missbraucht und ohne Wissen des Berechtigten eine Anmeldung durchgeführt wurde.</p>


<h3 id="widerruf">Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h3>
<p>Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten, die über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.</p>

<p>Diese Datenschutzerklärung wurde vom Websiteinhaber angepasst, als Vorlage wurde die folgende Seite verwendet: <a href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/">Datenschutz-Muster von Rechtsanwalt Thomas Schwenke - I LAW it</a></p>