{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Registrierung', 'subtitle': 'Juvem'} %}
        {% block breadcrumb %}
            <li class="active">Registrierung</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info" role="alert">
{# {{ 'registration.check_email'|trans({'%email%': user.email}) }} #}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
