{% extends 'base.html.twig' %}

{% block title %}Veranstaltungen verwalten{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Veranstaltung <small>verwalten</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" data-id-field="did"
                       data-toggle="table" data-cache="false" data-pagination="true"
                       data-side-pagination="client" data-show-refresh="true" data-show-columns="false" data-search="true"
                       data-search-align="right" data-toolbar="#docent-list-toolbar" data-striped="true"
                       data-show-filter="true" data-url="list.json">
                    <thead>
                        <tr>
                            <th data-field="eid" data-sortable="true" data-visible="false">#</th>
                            <th data-field="title" data-sortable="true"  data-order="asc">Titel</th>
                            <th data-field="description" data-sortable="true">Beschreibung</th>
                            <th data-field="start_date" data-sortable="true">Beginn</th>
                            <th data-field="end_date" data-sortable="true">Ende</th>
                            <th data-field="status" data-sortable="false" data-width="50">Status</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
{% endblock %}