{% extends 'base.html.twig' %}

{% block title %}Veranstaltung anlegen{% endblock %}

{% block body %}
    {%  include 'base-page-header.html.twig' with {'title': 'Veranstaltung', 'subtitle': 'erstellen'} %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
