{% extends 'base.html.twig' %}

{% block title %}Veranstaltung anlegen{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Veranstaltung', 'subtitle': 'erstellen'} %}
        {% block breadcrumb %}
            <ol class="breadcrumb">
                <li><a href="{{ path('event_list') }}">Veranstaltungen</a></li>
                <li class="active">Veranstaltung erstellen</li>
            </ol>
        {% endblock %}
    {% endembed %}
    <div class="container">
        {{ form_start(form) }}
        {% include '/event/form.html.twig' with {'form': form} %}
        <div class="row">
            <div class="col-xs-12">
            {{ form_row(form.save, { 'attr': {'class': 'btn-primary'}, 'label' : 'Veranstaltung erstellen' }) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}