<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block breadcrumbfull %}
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Juvem</a></li>
                    {% block breadcrumb %}{% endblock %}
                </ol>
            {% endblock %}
            {% block pageheader %}
            <header class="page-header">
                <h1>{{ title }}
                    {% if subtitle is defined %}
                        <small>{{ subtitle }}</small>
                    {% endif %}
                </h1>
            </header>
            {% endblock %}
            {% include 'common/header/page-global-messages.html.twig' %}
        </div>
    </div>
</div>

