<div class="page-header">
    <h1>{{ title }}
        {% if subtitle is defined %}
            <small>{{ subtitle }}</small>
        {% endif %}
    </h1>
</div>
<div id="page-global-messages">
    <div data-alerts="alerts" data-fade="5000">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg|raw }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('danger') %}
            <div class="alert alert-danger">
                {% for msg in app.session.flashBag.get('danger') %}
                    {{ msg|raw }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
