<div class="page-header">
    <h1>{{ title }}
        {% if subtitle is defined %}
            <small>{{ subtitle }}</small>
        {% endif %}
    </h1>
</div>
{% include 'common/header/page-global-messages.html.twig' %}
