{% extends 'base.html.twig' %}

{% block title %}Feld bearbeiten ({{ acquisition.managementTitle }}){% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Feld', 'subtitle': 'bearbeiten'} %}
        {% block breadcrumb %}
            <li><a href="{{ path('acquisition_list') }}">Felder</a></li>
            <li><a href="{{ path('acquisition_detail', {bid: acquisition.bid}) }}">{{ acquisition.managementTitle }}</a>
            </li>
            <li class="active">Feld bearbeiten</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="alert alert-info">
            Dies ist ein Systemfeld. Einige Eigenschaften können nicht bearbeitet werden.
          </div>
        </div>
      </div>
      {% include '/acquisition/form.html.twig' with {'form': form, submitTitle: 'Änderungen speichern', showChoiceOptions: showChoiceOptions} %}
    </div>
{% endblock %}
