{% extends 'base.html.twig' %}

{% block title %}Reisebedingungen{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Reisebedingungen', 'subtitle': appTitle} %}
        {% block breadcrumbfull %}
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">{{ appTitle }}</a></li>
                <li><a href="{{ path('imprint') }}">Impressum</a></li>
                <li class="active">Reisebedingungen</li>
            </ol>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ customization.legalConditionsOfTravelContent|raw }}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}
