{% extends 'base.html.twig' %}

{% block head -%}
<meta name="robots" content="noindex, follow, noarchive, nosnippet, notranslate" />
<meta name="googlebot" content="noindex, follow, noarchive, nosnippet, notranslate" />
<meta name="googlebot-news" content="noindex, follow, noarchive, nosnippet, notranslate" />
{%- endblock %}

{% block title %}Datenschutzerklärung{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Datenschutzerklärung', 'subtitle': appTitle} %}
        {% block breadcrumbfull %}
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">{{ appTitle }}</a></li>
                <li><a href="{{ path('imprint') }}">Impressum</a></li>
                <li class="active">Datenschutzerklärung</li>
            </ol>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% include 'legal/privacy-content.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}
