{% extends 'base.html.twig' %}

{% block title %}Newsletter Abonnement{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Newsletter', 'subtitle': 'Abonnement'} %}
        {% block breadcrumb %}
            <li>{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('newsletter_admin_overview') }}">Newsletter</a>{% else %}Newsletter{% endif %}</li>
            <li class="active">Abonnement</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sx-12 checkbox-with-help-block">
                {% if app.user is null %}
                    <p>Wir informieren Sie gerne über bevorstehende Aktionen. Auf dieser Seite können Sie den Newsletter
                        abonnieren und Ihren Wünschen entsprechend zuscheinden. Natürlich können Sie den Newsletter
                        jederzeit abbestellen.</p>
                    <p>Nutzen Sie dazu einfach den entsprechenden Link in einem unserer Newsletter den Sie erhalten
                        haben, oder <a href="mailto:mail@jugendwerk-vaihingen.de">wenden Sie sich direkt an uns</a>.</p>
                {% else %}
                    <p>Auf dieser Seite können Sie konfigurieren, welche E-Mails Sie von uns erhalten möchten, um über
                        die bevorstehenden Aktionen informiert zu sein.</p>
                {% endif %}

                <label class="control-label" id="help-templates">Schnellwahl</label><br>
                <div class="btn-group" role="group" aria-label="help-templates" style="margin-bottom: 10px;">
                  <button type="button" class="btn btn-default btn-sm" id="preselectNone" >keine Newsletter erhalten</button>
                  <button type="button" class="btn btn-default btn-sm" id="preselectAll" >alle Newsletter abbonieren</button>
                </div>
                {% include '/newsletter/public/form-html.html.twig' with {'form': form} %}
            </div>
            <div class="col-sm-5 col-sx-12">
                <p>Es ist uns sehr wichtig, dass Sie die volle Kontrolle darüber haben, welche Nachrichten Sie von uns
                    erhalten. Deshalb können Sie hier unter einigen Optionen wählen, oder den Newsletter auch jederzeit
                    ganz abbestellen. Sie sollen keine E-Mails zu Veranstaltungen erhalten, die für Sie nicht von
                    Interesse sind.</p>

                <p>Selbstverständlich sind wir von unseren Veranstaltungen überzeugt, und halten Sie gerne auf dem
                    Laufenden - wenn Sie das möchten!</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptCustom %}
    {% include '/newsletter/public/form-script.html.twig' with { formMain: 'newsletter_subscription'} %}
{% endblock %}
