.feedback-question {
  h3 {
    margin-top: 30px;
    margin-bottom: 0;
  }

  h4 {
    margin-bottom: 5px;
  }
}

.container-feedback {
  p {
    margin-bottom: 2px;
  }

  .feedback-comments {
    h3 {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}

.agreement .agreement-bars .agreement-bar,
.feedback-question,
.agreement {
  min-height: 1px;
  float: left;
}

.agreement .agreement-pre-bars,
.agreement .agreement-post-bars,
.feedback-question .question-pre,
.feedback-question .question-post {
  width: 5%;
  float: left;
  min-height: 1px;
}

.feedback-question .question,
.agreement .agreement-bars {
  width: 90%;
  float: left;
  min-height: 1px;
}

.agreement, .feedback-question {
  padding: 0;
  overflow: hidden;
}

.agreement {
  margin-bottom: 10px;

  .agreement-pre-bars {
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 50%;
    justify-content: flex-end;

    .agreement-bar {
      width: 33.33%
    }
  }

  .agreement-pre-bars, .agreement-post-bars {
    display: flex;
    height: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 50%;

    .agreement-bar {
      padding: 0;
      text-align: center;
      height: 25px;

      div {
        flex: 1;
      }
    }
  }

  .agreement-bars {
    display: flex;
    width: 90%;

    .agreement-bar {
      height: 50px;
    }
  }

  .agreement-post-bars {
    justify-content: flex-start;

    .agreement-bar {
      width: 33.33%;
    }
  }

  .agreement-bar {
    padding: 0 5px;
    color: #fff;
    display: flex;
    align-items: center;

    &.perc-1,
    &.perc-2,
    &.perc-3 {
      padding: 0;
      justify-content: center;
      font-size: 70%;

      div {
        text-align: center;
      }
    }

    &.perc-4,
    &.perc-5 {
      padding: 0;
      justify-content: center;
      font-size: 90%;

      div {
        text-align: center;
      }
    }

    @media (max-width: $screen-xs) {
      //small bar (percentage < 12)
      &.perc-1,
      &.perc-2,
      &.perc-3,
      &.perc-4,
      &.perc-5,
      &.perc-6,
      &.perc-7,
      &.perc-8,
      &.perc-9,
      &.perc-10,
      &.perc-11,
      &.perc-12 {
        padding: 0;
        justify-content: center;
        font-size: 80%;

        div {
          text-align: center;
        }
      }
    }
  }
}


/* Colors */
.agreement {
  .bar--2 {
    background: $brand-danger;
  }

  .bar--1 {
    background: lighten($brand-danger, 10%);
  }

  .bar-0 {
    color: #333;
    background: #eee;
  }

  .bar-1 {
    background: $brand-success;
  }

  .bar-2 {
    background: darken($brand-success, 10%);
  }
}

.question-interpretation-1 .agreement {
  .bar--2 {
    background: darken($brand-success, 10%);
  }

  .bar--1 {
    background: $brand-success;
  }

  .bar-0 {
    // nothing
  }

  .bar-1 {
    background: lighten($brand-danger, 10%);
  }

  .bar-2 {
    background: $brand-danger;
  }
}

.question-interpretation-2 .agreement {
  .bar--2 {
    background: $brand-warning;
  }

  .bar--1 {
    background: lighten($brand-warning, 10%);
  }

  .bar-0 {
    // nothing
  }

  .bar-1 {
    background: $brand-info;
  }

  .bar-2 {
    background: darken($brand-info, 10%);
  }

}

.distribution-item {
  p b {
    display: none;
  }

  .counter-thesis {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }

  &.counter-thesis-visible {
    p b {
      display: inline;
    }

    .counter-thesis {
      max-height: 500px;
    }
  }
}

#fillouts {
  .agreement-column {
    min-width: 30px;
    text-align: center;
  }

  @media (max-width: $screen-xs) {
    .panel-body {
      padding: 0;

      .panel {
        margin: 5px;

        .panel-body {
          padding: 5px;
        }
      }

    }

    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
      padding: 4px;
    }

    .agreement-column {
      min-width: 21px;
    }
  }
}
