{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}Registrierung - Juvem{% endblock %}

{% block body %}
    {% embed 'common/header/base-page-header.html.twig' with {'title': 'Registrierung', 'subtitle': 'Juvem'} %}
        {% block breadcrumb %}
            <li class="active">Registrierung</li>
        {% endblock %}
    {% endembed %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger" role="alert">
                    Sie sind bereits im System angemeldet. Wenn ein neuer Benutzer registriert werden soll, müssen Sie
                    sich zunächst <a href="{{ path('fos_user_security_logout') }}">abmelden</a>.
                </div>
            </div>
        </div>
    </div>
{% endblock body %}