{% extends 'base-empty.html.twig' %}
{% block page %}
  <header id="page-navigation">
    {% include 'navigation.html.twig' %}
  </header>
  <div id="page-body">
    {% block body %}{% endblock %}
  </div>
  <footer id="page-footer">
    {% if app.user is null %}
      {% include 'common/footer/public.html.twig' %}
    {% elseif is_granted(constant('AppBundle\\Entity\\User::ROLE_ADMIN')) %}
      {% include 'common/footer/admin.html.twig' %}
    {% else %}
      {% include 'common/footer/registered.html.twig' %}
    {% endif %}
  </footer>
{% endblock %}
